<template>
    <div class="cna-advertising">
        <img alt src="https://placeimg.com/1280/200/tech">
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-advertising {
        padding: 0.8rem;
        box-shadow: -1px 1px 0 0 #bdbdbd, inset -1px 1px 0 0 #bdbdbd;
        img {
            width: 100%;
            display: block;
        }
    }
}
</style>
