<template>
    <div :class="`cna-boxes cna-boxes--option-${option}`">
        <a
            :key="inxOne"
            :to="`/articulo/${outOne.key}?categoria=${$props.categoryName}`"
            @click="goToArticle(inxOne)"
            class="cna-boxes__item"
            v-for="(outOne, inxOne) in articles.slice(0, observeCount)"
        >
            <div class="cna-boxes__item__image">
                <img :alt="outOne.title" :src="outOne.thumbnail">
            </div>
            <div class="cna-boxes__item__caption">
                <h3>{{ outOne.title }}</h3>
                <p>{{ outOne.description.length > observeString ? outOne.description.substring(0, observeString) + '...' : outOne.description }}</p>
            </div>
        </a>
    </div>
</template>

<script>
import { firestore } from '@/config/firebase.js'

import mediaQueries from '@/mixins/mediaQueries.js'

export default {
    mixins: [mediaQueries],
    props: {
        option: {
            type: String,
            required: true
        },
        categoryId: {
            type: String,
            required: true
        },
        categoryName: {
            type: String,
            required: true
        }
    },
    data() {
        return {}
    },
    computed: {
        observeCount() {
            if (this.option == 1) {
                if (this.mqXS) {
                    return 4
                } else if (this.mqSM) {
                    return 5
                } else if (this.mqMD) {
                    return 6
                } else if (this.mqLG) {
                    return 9
                }
            } else if (this.option == 2) {
                if (this.mqXS) {
                    return 4
                } else if (this.mqSM) {
                    return 5
                } else if (this.mqMD) {
                    return 6
                } else if (this.mqLG) {
                    return 6
                }
            }
        },
        observeString() {
            if (this.option == 1) {
                if (this.mqXS) {
                    return 120
                } else if (this.mqSM) {
                    return 140
                } else if (this.mqMD) {
                    return 140
                } else if (this.mqLG) {
                    return 160
                }
            } else if (this.option == 2) {
                if (this.mqXS) {
                    return 120
                } else if (this.mqSM) {
                    return 140
                } else if (this.mqMD) {
                    return 140
                } else if (this.mqLG) {
                    return 160
                }
            }
        }
    },
    methods: {
        getArticlesFromCategory() {
            const articles = this.articles
            const id = this.$props.categoryId
            id &&
                firestore
                    .collection('categories')
                    .doc(id)
                    .collection('articles')
                    .onSnapshot(querySnapshot => {
                        querySnapshot.docChanges().forEach(change => {
                            let data = change.doc.data()
                            console.log('doc', change.type)
                            if (change.type === 'added') {
                                // TODO: aqui se puede notificar que se ha agregado un nuevo articulo
                                articles.push({
                                    key: change.doc.id,
                                    ...data,
                                    ref: change.doc.ref
                                })
                            }
                            if (change.type === 'modified') {
                                let found = articles.findIndex(e => {
                                    return e.key === change.doc.id
                                })
                                this.articles[found] = {
                                    key: change.doc.id,
                                    ...data
                                }
                            }
                            if (change.type === 'removed') {
                                let found = articles.findIndex(e => {
                                    return e.key === change.doc.id
                                })
                                articles.splice(found, 1)
                            }
                        })
                    })
        },
        goToArticle(inxOne) {
            const article = this.articles[inxOne]
            this.$router.push({
                name: 'article',
                params: { article: article, id: article.key },
                query: { category: this.$props.categoryName }
            })
        }
    },
    created() {
        // this.getArticlesFromCategory()
    }
}
</script>


<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-boxes {
        display: grid;

        &__item {
            position: relative;
            padding: 0.8rem;
            text-decoration: none;
            box-shadow: -1px 1px 0 0 #bdbdbd, inset -1px 1px 0 0 #bdbdbd;

            &__image {
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    display: block;
                    object-fit: cover;
                }
            }

            &__caption {
                h3 {
                    color: $red;
                }
                p {
                    margin-bottom: 0;
                    color: black;
                }
            }
        }

        &--option {
            &-1 {
                grid-template-columns: repeat(4, calc(100% / 4));

                .cna-boxes {
                    &__item {
                        display: grid;

                        &:nth-of-type(1) {
                            min-height: 300px;
                            grid-row: span 2;
                            grid-column: span 2;

                            .cna-boxes {
                                &__item {
                                    background-color: red;
                                    &__image {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        height: calc(100% - 1.6rem);
                                        width: calc(100% - 1.6rem);
                                    }
                                    &__caption {
                                        position: absolute;
                                        z-index: 1;
                                        bottom: 1.6rem;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        height: auto;
                                        width: calc(100% - 3.2rem);
                                        padding: 1rem;
                                        background-color: rgba($white, 0.8);
                                    }
                                }
                            }
                        }

                        &:not(:nth-of-type(1)) {
                            .cna-boxes {
                                &__item {
                                    &__image {
                                        height: 140px;
                                        margin-bottom: 0.5rem;
                                        img {
                                            object-position: top;
                                        }
                                    }
                                }
                            }
                        }

                        &:nth-of-type(3),
                        &:nth-of-type(5),
                        &:nth-of-type(7),
                        &:nth-of-type(9) {
                            .cna-boxes {
                                &__item {
                                    &__image {
                                        grid-row: 2/3;
                                        margin-bottom: 0;
                                    }
                                    &__caption {
                                        grid-row: 1/2;
                                        margin-bottom: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-2 {
                grid-template-columns: repeat(4, calc(100% / 4));
                .cna-boxes {
                    &__item {
                        &:nth-of-type(1) {
                        }
                        &:nth-of-type(2) {
                        }
                        &:nth-of-type(3) {
                        }
                        &:nth-of-type(4) {
                        }
                        &:nth-of-type(5) {
                        }
                        &:nth-of-type(6) {
                        }
                    }
                }
            }

            &-3 {
                .cna-boxes {
                    &__item {
                    }
                }
            }

            &-4 {
                .cna-boxes {
                    &__item {
                    }
                }
            }

            &-5 {
                .cna-boxes {
                    &__item {
                    }
                }
            }
        }

        @media (max-width: 1280px) {
            &--option {
                &-1 {
                    grid-template-columns: repeat(3, calc(100% / 3));
                    .cna-boxes {
                        &__item {
                            &:nth-of-type(3),
                            &:nth-of-type(5),
                            &:nth-of-type(7),
                            &:nth-of-type(9) {
                                .cna-boxes {
                                    &__item {
                                        &__image {
                                            grid-row: auto;
                                            margin-bottom: 0.5rem;
                                        }
                                        &__caption {
                                            grid-row: auto;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 768px) {
            &--option {
                &-1 {
                    grid-template-columns: repeat(2, calc(100% / 2));
                    .cna-boxes {
                        &__item {
                            &:nth-of-type(1) {
                                height: 280px;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 576px) {
            &--option {
                &-1 {
                    grid-template-columns: repeat(1, calc(100% / 1));
                    .cna-boxes {
                        &__item {
                            &:nth-of-type(1) {
                                grid-row: auto;
                                grid-column: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>
