<template>
    <div class="cna-featured">
        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam autem esse doloribus voluptas temporibus? Quam soluta explicabo recusandae.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quia exercitationem fuga numquam dolores quas excepturi animi eius? Quis dolorem earum doloribus. Incidunt soluta dolore inventore laboriosam amet eos unde!</p>
        <img alt="title" src="https://placeimg.com/1280/720/people">
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-featured {
        h1 {
            margin-bottom: 1rem;
            text-align: center;
            font-size: 3rem;
            line-height: 1;
        }
        p {
            margin-bottom: 2rem;
            text-align: center;
            font-size: 1.2rem;
        }
        img {
            width: 100%;
            display: block;
        }
        @media (max-width: 992px) {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}
</style>
