<template>
    <div class="cna-headlines">
        <swiper :options="swiperOption">
            <swiper-slide :key="inxOne" v-for="(outOne, inxOne) in [0,0,0,0,0,0,0,0,0,0,0,0]">
                <router-link class="cna-headlines__item" to="/">{{ text.length > 100 ? text.substring(0, 100) + '...' : text }}</router-link>
            </swiper-slide>
        </swiper>
    </div>
</template>

<script>
export default {
    data: () => ({
        text:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit pariatur at accusamus qui. Id quibusdam fugiat, vel suscipit inventore quia quos praesentium. Maiores eaque veniam provident ratione tenetur saepe?',
        swiperOption: {
            loop: true,
            autoplay: {
                delay: 8000,
                disableOnInteraction: false
            }
        }
    })
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-headlines {
        padding: 0.8rem;
        border: 1px solid #bdbdbd;

        &__item {
            padding: 1.4rem 4rem;
            display: flex;
            align-items: center;
            // justify-content: center;
            text-decoration: none;
            // text-align: center;
            font-size: 1.4rem;
            color: $white;
            background-color: #757575;
        }
    }
}
</style>
