<template>
    <div class="cna-mostseen">
        <swiper :options="swiperOption">
            <swiper-slide :key="inxOne" v-for="(outOne, inxOne) in [0,0,0,0,0,0,0,0,0,0,0,0]">
                <router-link class="cna-mostseen__item" to="/">
                    <img alt src="https://placeimg.com/640/480/nature">
                    <div class="cna-mostseen__item__caption">
                        <h3>{{ text.length > 80 ? text.substring(0, 80) + '...' : text }}</h3>
                    </div>
                </router-link>
            </swiper-slide>
            <div class="cna-mostseen__navigation cna-mostseen__navigation--prev" slot="button-prev">
                <v-icon>mdi-chevron-left</v-icon>
            </div>
            <div class="cna-mostseen__navigation cna-mostseen__navigation--next" slot="button-next">
                <v-icon>mdi-chevron-right</v-icon>
            </div>
        </swiper>
    </div>
</template>

<script>
export default {
    data: () => ({
        text:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos suscipit pariatur at accusamus qui. Id quibusdam fugiat, vel suscipit inventore quia quos praesentium. Maiores eaque veniam provident ratione tenetur saepe?',
        swiperOption: {
            slidesPerView: 4,
            spaceBetween: 11.2,
            navigation: {
                prevEl: '.cna-mostseen__navigation--prev',
                nextEl: '.cna-mostseen__navigation--next'
            },

            breakpoints: {
                1280: {
                    slidesPerView: 3
                },
                768: {
                    slidesPerView: 2
                },
                576: {
                    slidesPerView: 1
                }
            }
        }
    })
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-mostseen {
        padding: 0.8rem;
        border: 1px solid #bdbdbd;

        .swiper-container {
        }

        .swiper-slide {
            // width: auto;
        }

        &__item {
            position: relative;
            display: flex;
            height: 180px;
            width: 100%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }

            &__caption {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0.8rem;
                background-color: rgba($black, 0.4);
                box-sizing: border-box;
                h3 {
                    color: $white;
                    font-weight: 500;
                    line-height: 1.1;
                }
            }
        }

        &__navigation {
            cursor: pointer;
            position: absolute;
            z-index: 9999;
            top: 50%;
            transform: translateY(-50%);
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $red;
            i {
                color: $white;
            }

            &.swiper-button-disabled {
                i {
                    opacity: 0.6;
                }
            }

            &--prev {
                left: 0;
            }

            &--next {
                right: 0;
            }
        }
    }
}
</style>