<template>
    <div></div>
    <!-- <div class="survey">
        <v-card>
            <v-card-title primary-title>
                <div>
                    <div class="headline">{{survey.question}}</div>
                </div>
            </v-card-title>
            <v-card-text v-if="hasVoted">Gracias por tu voto</v-card-text>
            <v-card-text v-else>
                <v-btn @click="vote('yes')" block color="grey">Sí</v-btn>
                <v-btn @click="vote('no')" block color="grey">No</v-btn>
            </v-card-text>
            <v-card-text></v-card-text>
        </v-card>
    </div>-->
</template>

<script>
import { firestore, firebase } from '../../config/firebase'

export default {
    data() {
        return {
            survey: {},
            docRef: undefined,
            hasVoted: false
        }
    },
    mounted() {
        this.docRef = firestore.collection('polls').doc('active')
        this.docRef.get().then(doc => {
            this.survey = doc.data()
        })
        this.hasVoted = this.validateLastVoteTime()
    },
    methods: {
        vote(vote) {
            this.docRef.get().then(doc => {
                if (doc.exists) {
                    doc.data()
                        .ref.collection('answers')
                        .doc(vote)
                        .update(
                            'count',
                            firebase.firestore.FieldValue.increment(1)
                        )
                }
            })
            this.hasVoted = true
            localStorage.setItem('lastVoteAt', Date.now())
        },
        validateLastVoteTime() {
            const lastVoteAt = localStorage.getItem('lastVoteAt')
            if (lastVoteAt) {
                const oneday = 60 * 60 * 24 * 1000
                const yesterday = new Date() - oneday
                return lastVoteAt > yesterday
            } else return false
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .survey {
    }
}
</style>