<template>
    <div class="cna-title">
        <img alt="Logotipo CNA" src="/img/logo-gray.svg">
        <h2>{{ title }}</h2>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-title {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        img {
            height: 30px;
            margin-right: 1rem;
        }

        h2 {
            position: relative;
            padding-left: calc(1rem + 1px);
            text-transform: uppercase;
            font-weight: 400;
            font-size: 2rem;
            color: #999999;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 60%;
                width: 1px;
                display: block;
                background-color: #bdbdbd;
            }
        }

        @media (max-width: 768px) {
            img {
                height: 30px;
                margin-right: 0.5rem;
            }

            h2 {
                font-size: 1.4rem;
                padding-left: calc(0.5rem + 1px);
            }
        }
    }
}
</style>
