<template>
    <div class="cna-wrapper">
        <slot/>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-wrapper {
        width: calc(100% - 8rem);
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 992px) {
            width: calc(100% - 4rem);
        }

        @media (max-width: 768px) {
            width: calc(100% - 2rem);
        }
    }
}
</style>
