<template>
    <div class="backend">
        <v-navigation-drawer app fixed v-model="drawer">
            <v-list>
                <template v-for="(outOne, inxOne) in items">
                    <template v-if="outOne.subItems === undefined">
                        <v-list-tile :key="inxOne" :to="outOne.to" exact router>
                            <v-list-tile-action>
                                <v-icon>{{ outOne.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title v-text="outOne.title"/>
                        </v-list-tile>
                    </template>
                    <template v-else-if="outOne.subItems !== undefined">
                        <v-list-group :key="inxOne" :prepend-icon="outOne.icon" no-action>
                            <template v-slot:activator>
                                <v-list-tile>
                                    <v-list-tile-title v-text="outOne.title"/>
                                </v-list-tile>
                            </template>
                            <v-list-tile :key="inxTwo" :to="outTwo.to" v-for="(outTwo, inxTwo) in outOne.subItems">
                                <v-list-tile-title v-text="outTwo.title"/>
                            </v-list-tile>
                        </v-list-group>
                    </template>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app fixed>
            <v-toolbar-side-icon @click="drawer = !drawer"/>
            <v-toolbar-title v-text="title"/>
            <v-spacer/>
            <v-menu bottom left>
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-tile exact router to="/admin/settings">
                        <v-list-tile-action>
                            <v-icon>mdi-settings-outline</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>Configuración</v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile @click="signOut">
                        <v-list-tile-action>
                            <v-icon>mdi-logout-variant</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>Cerrar sesión</v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar>
        <v-content>
            <router-view/>
        </v-content>
    </div>
</template>

<script>
import { auth, firestore } from "@/config/firebase"
import {mapGetters} from "vuex"
export default {
    data: () => ({
        drawer: null,
        title: '',
        items: [
            {
                icon: 'mdi-view-dashboard-outline',
                title: 'Panel de control',
                to: '/admin'
            },
            {
                icon: 'mdi-tag-multiple',
                title: 'Categorías',
                to: '/admin/categories'
            },
            {
                icon: "mdi-file-document-box-multiple-outline",
                title: "Artículos",
                subItems: []
            },
            {
                icon: 'mdi-youtube',
                title: 'Videos',
                to: '/admin/videos'
            },
            {
                icon: 'mdi-poll',
                title: 'Encuestas',
                to: '/admin/polls'
            },
            {
                icon: 'mdi-settings-outline',
                title: 'Configuración',
                to: '/admin/settings'
            },
            {
                icon: 'mdi-test-tube',
                title: 'Pruebas',
                to: '/admin/test'
            }
        ]
    }),
    computed: {
        ...mapGetters(["storageCategories","storageCounter"]),
    },
    watch: {
        $route(to, from) {
            this.title = to.meta.title
        }
    },
    methods: {
        signOut() {
            auth.signOut().then(() => {
                this.$store.dispatch('initApp', null)
                this.$router.push('/autenticacion')
            })
        }
    },
    created() {
        const store = this.$store
        const ref = firestore.collection("categories")
        this.title = this.$route.meta.title
        store.dispatch("GET", {
            ref: ref,
            storage: "storageCategories",
            storageHandler: "storageCategoriesHandler",
        }).then(()=>{
            this.items[2].subItems = this.storageCategories
                .map((category)=>{
                    store.dispatch("GET_COUNTERS", {
                        ref: ref.doc(category.id).collection("articles"),
                        storageHandler: "storageCounterHandler",
                        storageState: this.storageCounter,
                    })
                return {
                    title: category.title,
                    to: "/admin/articulos/"+category.id
                }
            })
        })
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    height: 100%;
    display: flex;
}
</style>