<template>
    <div :class="'cna-boxes--' + option" class="cna-boxes">
        <template v-for="(out, inx) in data.slice(0, countObs)">
            <template v-if="optionObs[inx].inx == 1">
                <option-one :data="out" :key="inx" :option="optionObs[inx].option"/>
            </template>
            <template v-else-if="optionObs[inx].inx == 2">
                <option-two :data="out" :key="inx" :option="optionObs[inx].option"/>
            </template>
            <template v-else-if="optionObs[inx].inx == 3">
                <option-three :data="out" :key="inx" :option="optionObs[inx].option"/>
            </template>
        </template>
    </div>
</template>

<script>
import optionOne from '@/components/frontend/cnaBoxes/optionOne'
import optionTwo from '@/components/frontend/cnaBoxes/optionTwo'
import optionThree from '@/components/frontend/cnaBoxes/optionThree'

import mediaQueries from '@/mixins/mediaQueries'

export default {
    mixins: [mediaQueries],
    components: {
        optionOne,
        optionTwo,
        optionThree
    },
    props: {
        option: {
            type: Number,
            required: true
        }
    },
    data: () => ({
        data: [
            {
                title: 'Titulo 1',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/animals'
            },
            {
                title: 'Titulo 2',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/animals/grayscale'
            },
            {
                title: 'Titulo 3',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/arch'
            },
            {
                title: 'Titulo 4',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/arch/grayscale'
            },
            {
                title: 'Titulo 5',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/nature'
            },
            {
                title: 'Titulo 6',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/nature/grayscale'
            },
            {
                title: 'Titulo 7',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/people'
            },
            {
                title: 'Titulo 8',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/people/grayscale'
            },
            {
                title: 'Titulo 9',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/tech'
            },
            {
                title: 'Titulo 10',
                description:
                    'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptatibus vero quo id error! Itaque iure consequuntur nam consectetur animi.',
                thumbnail: 'https://placeimg.com/640/480/tech/grayscale'
            }
        ]
    }),
    computed: {
        countObs() {
            let option = 0
            if (this.option == 1) {
                option = this.mqReturn(4, 6, 6, 6, 9)
            } else if (this.option == 2) {
                option = this.mqReturn(4, 6, 6, 6, 6)
            } else if (this.option == 3) {
                option = this.mqReturn(4, 4, 4, 4, 5)
            } else if (this.option == 4) {
                option = this.mqReturn(4, 4, 5, 5, 5)
            } else if (this.option == 5) {
                option = this.mqReturn(4, 4, 6, 6, 5)
            } else if (this.option == 6) {
                option = this.mqReturn(4, 4, 3, 3, 4)
            }
            return option
        },
        optionObs() {
            let option = [
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 },
                { option: 'bottom', inx: 2 }
            ]

            let array = []

            if (this.option == 1) {
                if (this.mqXS || this.mqSM) {
                    array = option
                } else if (this.mqMD || this.mqLG) {
                    option[0].inx = 1
                    array = option
                } else if (this.mqXL) {
                    option[0].inx = 1
                    option[2].option = 'top'
                    option[4].option = 'top'
                    option[7].option = 'top'
                    array = option
                }
            } else if (this.option == 2) {
                if (this.mqXS || this.mqSM || this.mqMD) {
                    array = option
                } else if (this.mqLG) {
                    option[1].option = 'top'
                    option[1].inx = 1
                    option[3].option = 'top'
                    option[3].inx = 1
                    option[5].inx = 1
                    array = option
                } else if (this.mqXL) {
                    option[0].inx = 1
                    option[1].option = 'top'
                    option[1].inx = 1
                    option[2].inx = 1
                    option[3].option = 'right'
                    option[3].inx = 3
                    option[4].option = 'left'
                    option[4].inx = 3
                    option[5].option = 'right'
                    option[5].inx = 3
                    array = option
                }
            } else if (this.option == 3) {
                if (this.mqXS || this.mqSM) {
                    array = option
                } else if (this.mqMD || this.mqLG) {
                    option[3].inx = 1
                    option[4].inx = 1
                    array = option
                } else if (this.mqXL) {
                    option[0].inx = 1
                    option[1].inx = 1
                    option[2].inx = 1
                    option[3].inx = 1
                    option[4].inx = 1
                    array = option
                }
            } else if (this.option == 4) {
                if (this.mqXS || this.mqSM) {
                    array = option
                } else if (this.mqMD || this.mqLG) {
                    option[0].option = 'top'
                    option[0].inx = 1
                    array = option
                } else if (this.mqXL) {
                    option[0].option = 'top'
                    option[0].inx = 1
                    option[1].option = 'top'
                    option[1].inx = 1
                    option[2].option = 'right'
                    option[2].inx = 3
                    option[3].option = 'right'
                    option[3].inx = 3
                    option[4].option = 'right'
                    option[4].inx = 3
                    array = option
                }
            } else if (this.option == 5) {
                if (this.mqXS || this.mqSM) {
                    array = option
                } else if (this.mqMD || this.mqLG) {
                    option[0].inx = 1
                    option[1].option = 'top'
                    option[3].option = 'top'
                    option[4].option = 'top'
                    option[4].inx = 1
                    option[5].option = 'top'
                    array = option
                } else if (this.mqXL) {
                    option[1].option = 'top'
                    option[3].option = 'right'
                    option[3].inx = 3
                    option[4].option = 'right'
                    option[4].inx = 3
                    array = option
                }
            } else if (this.option == 6) {
                if (this.mqXS || this.mqSM) {
                    array = option
                } else if (this.mqMD || this.mqLG) {
                    array = option
                } else if (this.mqXL) {
                    option[0].inx = 1
                    option[1].inx = 1
                    option[2].inx = 1
                    option[3].inx = 1
                    option[4].inx = 1
                    array = option
                }
            }

            return array
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-boxes {
        display: grid;
        grid-template-columns: repeat(4, calc(100% / 4));

        &--1 {
            a {
                &:nth-of-type(1) {
                    grid-row: span 2;
                    grid-column: span 2;
                }
            }
        }

        &--2 {
            a {
                &:nth-of-type(1) {
                    grid-row: span 3;
                }
                &:nth-of-type(2) {
                    grid-row: span 3;
                }
                &:nth-of-type(3) {
                    grid-row: span 3;
                }
            }
        }

        &--3 {
            a {
                &:nth-of-type(1) {
                    grid-row: span 2;
                    grid-column: span 2;
                }
                &:nth-of-type(2) {
                    grid-row: span 2;
                }
                &:nth-of-type(5) {
                    grid-column: span 4;
                    height: 280px;
                }
            }
        }

        &--4 {
            a {
                &:nth-of-type(1) {
                    grid-row: span 3;
                    grid-column: span 2;
                }
                &:nth-of-type(2) {
                    grid-row: span 3;
                }
            }
        }

        &--4 {
            a {
                &:nth-of-type(1) {
                    grid-row: span 3;
                    grid-column: span 2;
                }
                &:nth-of-type(2) {
                    grid-row: span 3;
                }
            }
        }

        &--5 {
            a {
                &:nth-of-type(1) {
                    grid-row: span 2;
                }
                &:nth-of-type(2) {
                    grid-row: span 3;
                }
                &:nth-of-type(3) {
                    grid-row: span 3;
                }
            }
        }

        &--6 {
            a {
                &:nth-of-type(1) {
                    grid-row: span 2;
                    grid-column: span 2;
                }
                &:nth-of-type(2) {
                    grid-row: span 3;
                }
            }
        }

        @media (max-width: 1280px) {
            grid-template-columns: repeat(3, calc(100% / 3));

            &--2 {
                a {
                    &:nth-of-type(1) {
                        grid-row: auto;
                    }
                    &:nth-of-type(2) {
                        grid-row: auto;
                    }
                    &:nth-of-type(3) {
                        grid-row: auto;
                    }
                }
            }

            &--3 {
                a {
                    &:nth-of-type(1) {
                        grid-row: auto;
                        grid-column: auto;
                    }
                    &:nth-of-type(2) {
                        grid-row: auto;
                    }
                    &:nth-of-type(4) {
                        grid-column: span 3;
                        height: 280px;
                    }
                    &:nth-of-type(5) {
                        grid-column: auto;
                        height: auto;
                    }
                }
            }

            &--4 {
                a {
                    &:nth-of-type(1) {
                        grid-row: auto;
                        grid-column: span 2;
                    }
                    &:nth-of-type(2) {
                        grid-row: auto;
                    }
                }
            }

            &--5 {
                a {
                    &:nth-of-type(1) {
                        grid-row: auto;
                    }
                    &:nth-of-type(2) {
                        grid-row: auto;
                    }
                    &:nth-of-type(3) {
                        grid-row: auto;
                    }
                }
            }

            &--6 {
                a {
                    &:nth-of-type(1) {
                        grid-row: auto;
                        grid-column: auto;
                    }
                    &:nth-of-type(2) {
                        grid-row: auto;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, calc(100% / 2));

            &--1 {
                a {
                    &:nth-of-type(1) {
                        grid-row: auto;
                        grid-column: auto;
                    }
                }
            }

            &--3 {
                a {
                    &:nth-of-type(4) {
                        grid-column: auto;
                        height: auto;
                    }
                }
            }

            &--4 {
                a {
                    &:nth-of-type(1) {
                        grid-column: auto;
                    }
                }
            }
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(1, calc(100% / 1));
        }
    }
}
</style>
