<template>
    <router-link :class="classObs" :title="data.title" class="cna-boxes-option-two" to="/">
        <div class="cna-boxes-option-two__image">
            <img :alt="data.title" :src="data.thumbnail">
        </div>
        <div class="cna-boxes-option-two__caption">
            <h3>{{ data.title }}</h3>
            <p>{{ data.description.length > stringObs ? data.description.substring(0, stringObs) + '...' : data.description }}</p>
        </div>
    </router-link>
</template>

<script>
import mediaQueries from '@/mixins/mediaQueries'

export default {
    mixins: [mediaQueries],
    props: {
        data: {
            type: Object,
            required: true
        },
        option: {
            type: String,
            required: true
        }
    },
    computed: {
        classObs() {
            const mainClass = 'cna-boxes-option-two'

            let array = []

            if (this.option.includes('top')) {
                array.push(`${mainClass}--top`)
            }

            if (this.option.includes('bottom')) {
                array.push(`${mainClass}--bottom`)
            }

            return array.join(' ')
        },
        stringObs() {
            const string = this.mqReturn(100, 100, 100, 100, 100)
            return string
        }
    }
}
</script>


<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-boxes-option-two {
        position: relative;
        width: 100%;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        overflow: hidden;
        background-color: $white;
        box-shadow: -1px 1px 0 0 #bdbdbd, inset -1px 1px 0 0 #bdbdbd;

        &__image {
            height: 140px;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        &__caption {
            h3 {
                margin-bottom: 0.2rem;
                font-weight: 600;
                font-size: 1.2rem;
                color: $red;
            }

            p {
                margin-bottom: 0;
                color: $black;
            }
        }

        &--top {
            .cna-boxes-option-two {
                &__image {
                    order: 2;
                    margin-top: 1rem;
                }
                &__caption {
                    order: 1;
                }
            }
        }

        &--bottom {
            .cna-boxes-option-two {
                &__image {
                    order: 1;
                    margin-bottom: 1rem;
                }
                &__caption {
                    order: 2;
                }
            }
        }
    }
}
</style>