<template>
    <router-link :class="classObs" :title="data.title" class="cna-boxes-option-one" to="/">
        <div class="cna-boxes-option-one__image">
            <img :alt="data.title" :src="data.thumbnail">
        </div>
        <div class="cna-boxes-option-one__caption">
            <h3>{{ data.title }}</h3>
            <p>{{ data.description.length > stringObs ? data.description.substring(0, stringObs) + '...' : data.description }}</p>
        </div>
    </router-link>
</template>

<script>
import mediaQueries from '@/mixins/mediaQueries'

export default {
    mixins: [mediaQueries],
    props: {
        data: {
            type: Object,
            required: true
        },
        option: {
            type: String,
            required: true
        }
    },
    computed: {
        classObs() {
            const mainClass = 'cna-boxes-option-one'

            let array = []

            if (this.option.includes('top')) {
                array.push(`${mainClass}--top`)
            }

            if (this.option.includes('bottom')) {
                array.push(`${mainClass}--bottom`)
            }

            return array.join(' ')
        },
        stringObs() {
            const string = this.mqReturn(100, 100, 100, 100, 100)
            return string
        }
    }
}
</script>


<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-boxes-option-one {
        position: relative;
        width: 100%;
        padding: 1.6rem;
        display: flex;
        justify-content: center;
        text-decoration: none;
        overflow: hidden;
        background-color: $white;
        box-shadow: -1px 1px 0 0 #bdbdbd, inset -1px 1px 0 0 #bdbdbd;

        &__image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: calc(100% - 1.6rem);
            width: calc(100% - 1.6rem);

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__caption {
            position: relative;
            width: 100%;
            padding: 0.4rem 0.8rem;
            background-color: rgba($white, 0.9);

            h3 {
                margin-bottom: 0.2rem;
                text-overflow: ellipsis;
                font-weight: 600;
                font-size: 1.2rem;
                white-space: nowrap;
                overflow: hidden;
                color: $red;
            }

            p {
                margin-bottom: 0;
                color: $black;
            }
        }

        &--top {
            align-items: flex-start;
        }
        &--bottom {
            align-items: flex-end;
        }
    }
}
</style>
