<template>
    <router-link :class="classObs" :title="data.title" class="cna-boxes-option-three" to="/">
        <div class="cna-boxes-option-three__image">
            <img :alt="data.title" :src="data.thumbnail">
        </div>
        <div class="cna-boxes-option-three__caption">
            <h3>{{ data.title }}</h3>
            <p>{{ data.description.length > stringObs ? data.description.substring(0, stringObs) + '...' : data.description }}</p>
        </div>
    </router-link>
</template>

<script>
import mediaQueries from '@/mixins/mediaQueries'

export default {
    mixins: [mediaQueries],
    props: {
        data: {
            type: Object,
            required: true
        },
        option: {
            type: String,
            required: true
        }
    },
    computed: {
        classObs() {
            const mainClass = 'cna-boxes-option-three'

            let array = []

            if (this.option.includes('left')) {
                array.push(`${mainClass}--left`)
            }

            if (this.option.includes('right')) {
                array.push(`${mainClass}--right`)
            }

            return array.join(' ')
        },
        stringObs() {
            const string = this.mqReturn(54, 54, 54, 54, 54)
            return string
        }
    }
}
</script>


<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .cna-boxes-option-three {
        position: relative;
        width: 100%;
        padding: 0.8rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        overflow: hidden;
        background-color: $white;
        box-shadow: -1px 1px 0 0 #bdbdbd, inset -1px 1px 0 0 #bdbdbd;

        &__image {
            height: 70px;
            width: 70px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__caption {
            width: calc((100% - 1rem) - 70px);

            h3 {
                margin-bottom: 0.2rem;
                font-weight: 600;
                font-size: 1rem;
                color: $red;
            }

            p {
                margin-bottom: 0;
                font-size: 1rem;
                color: $black;
            }
        }

        &--left {
            .cna-boxes-option-three {
                &__image {
                    order: 1;
                    margin-right: 1rem;
                }
                &__caption {
                    order: 2;
                }
            }
        }

        &--right {
            .cna-boxes-option-three {
                &__image {
                    order: 2;
                    margin-left: 1rem;
                }
                &__caption {
                    order: 1;
                }
            }
        }
    }
}
</style>