<template>
    <main class="article">
        <cna-wrapper></cna-wrapper>
        <v-container grid-list-md>
            <v-layout row wrap>
                <v-flex md12 sm12 xs12>
                    <h1>{{ article.title }}</h1>
                    <h3>{{article.description}}</h3>
                    <span>categoría: {{$route.query.categoria}}</span>
                </v-flex>
                <v-flex md8>
                    <v-img :src="article.imgPath"></v-img>
                </v-flex>
                <v-flex md4>
                    <v-card>
                        <v-card-title>titúlo</v-card-title>
                        <v-card-text>caja</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex md8 sm12 xs12>
                    <render-article :contentToRender="article.content" v-if="!lightView"></render-article>
                </v-flex>

<script>
import formatDate from "@/mixins/formatDate.js"
import RenderArticle from "@/components/backend/render-article"
import cnaWrapper from "@/components/frontend/cnaWrapper"
import cnaSurvey from "@/components/frontend/cnaSurvey"
import {firebase, firestore } from "../../config/firebase"

export default {
    mixins: [formatDate],
    components: {
        cnaWrapper,
        RenderArticle,
        cnaSurvey
    },
    data() {
        return {
            docRef: {},
            article: {},
        }
    },
    props: {
        lightView: Boolean,
    },
    created(){
        const { id, categoryId, article } = this.$route.params
        !this.article && this.fetch(id, categoryId)
        firestore.collection(categoryId).doc(id)
                .update(
                    "views",
                    firebase.firestore.FieldValue.increment(1)
                )
    },
    methods: {
        fetch(id, categoryId){
            firestore.collection('categories').doc(categoryId).collection("articles")
                .doc(id)
                .get()
                .then(doc => {
                    if (doc.exists) {
                        self.article = doc.data()
                    } else {
                        this.$store.commit("snackBarPush", {
                            message: "Artículo no encontrado",
                            color: "error",
                            y: "top",
                            x: "right",
                            button: {
                                color: "white",
                                message: "Cerrar"
                            }
                        })
                    }
                })
        },
    }
}
</script>


<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
}
</style>