<template>
    <main class="article">
        <cna-wrapper></cna-wrapper>
        <v-container grid-list-md>
            <v-layout
                row
                wrap
            >
                <v-flex
                    md12
                    sm12
                    xs12
                >
                    <h1>{{ article.title }}</h1>
                    <h3>{{ article.description }}</h3>
                    <span>categoría: {{$route.query.categoria}}</span>
                </v-flex>
                <v-flex md8>
                    <v-img :src="article.imgPath"></v-img>
                </v-flex>
                <v-flex md4>
                    <v-card>
                        <v-card-title>titúlo</v-card-title>
                        <v-card-text>caja</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex
                    md8
                    sm12
                    xs12
                >
                    <render-article
                        :contentToRender="content"
                        v-if="!lightView"
                    ></render-article>
                </v-flex>

                <v-flex md4>
                    <cna-survey/>
                </v-flex>
            </v-layout>
        </v-container>
    </main>
</template>

<script>
import formatDate from '@/mixins/formatDate.js'
import RenderArticle from '@/components/backend/render-article'
import cnaWrapper from '@/components/frontend/cnaWrapper'
import cnaSurvey from '@/components/frontend/cnaSurvey'
import { firebase, firestore } from '../../config/firebase'

export default {
    mixins: [formatDate],
    components: {
        cnaWrapper,
        RenderArticle,
        cnaSurvey
    },
    data() {
        return {
            docRef: {},
            article: {},
            content: []
        }
    },
    props: {
        lightView: Boolean,
        article: {
            type: Object
        }
    },
    created() {
        this.article = this.$route.params.article
    },
    mounted() {
        this.article.key ? this.fetchContent() : this.fetch()
    },
    methods: {
        fetch() {
            const { id } = this.$route.params
            firestore
                .collection('categories')
                .doc('6iuRsW7s4xgUpYP0Z87c')
                .doc(id)
                .get()
                .then(doc => {
                    if (doc.exists) {
                        self.article = doc.data()
                        this.fetchContent()
                    } else {
                        this.$store.commit('snackBarPush', {
                            message: 'Artículo no encontrado',
                            color: 'error',
                            y: 'top',
                            x: 'right',
                            button: {
                                color: 'white',
                                message: 'Cerrar'
                            }
                        })
                    }
                })
        },
        fetchContent() {
            const { ref } = this.$route.params.article
            ref.collection('content')
                .doc('content')
                .get()
                .then(doc => {
                    if (doc.exists) {
                        this.content = doc.data().content
                    } else {
                        this.$store.commit('snackBarPush', {
                            message: 'Artículo no encontrado',
                            color: 'error',
                            y: 'top',
                            x: 'right',
                            button: {
                                color: 'white',
                                message: 'Cerrar'
                            }
                        })
                    }
                })
            firestore
                .collection('statistics')
                .doc('counters')
                .collection('articles')
                .doc(ref.id)
                .update('views', firebase.firestore.FieldValue.increment(1))
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .article {
    }
}
</style>
