<template>
    <main class="home">
        <cna-wrapper>
            <span class="home__date">Juliaca - {{ dateString }}</span>
            <section class="home__section">
                <cna-title title="Lo más visto"/>
                <cna-most-seen/>
            </section>
            <section class="home__section">
                <cna-title title="Titulares"/>
                <cna-headlines/>
            </section>
            <section class="home__section">
                <cna-featured/>
            </section>
            <section class="home__section">
                <cna-advertising/>
            </section>
            <section class="home__section">
                <cna-title title="Juliaca"/>
                <cna-boxes :option="1"/>
            </section>
            <section class="home__section">
                <cna-title title="Perú"/>
                <cna-boxes :option="2"/>
            </section>
            <section class="home__section">
                <cna-title title="Mundo"/>
                <cna-boxes :option="3"/>
            </section>
            <section class="home__section">
                <cna-advertising/>
            </section>
            <!-- <section class="home__section home__section--aside">
                <cna-survey/>
                <div>
                    <cna-title title="Radio en vivo"/>
                    <cna-title title="Radio en vivo"/>
                </div>
            </section>-->
            <section class="home__section">
                <cna-title title="Economía"/>
                <cna-boxes :option="4"/>
            </section>
            <section class="home__section">
                <cna-title title="Tecnología"/>
                <cna-boxes :option="5"/>
            </section>
            <section class="home__section">
                <cna-title title="Cultura"/>
                <cna-boxes :option="6"/>
            </section>
        </cna-wrapper>
    </main>
</template>

<script>
import formatDate from '@/mixins/formatDate.js'

import cnaAdvertising from '@/components/frontend/cnaAdvertising'
import cnaBoxes from '@/components/frontend/cnaBoxes/index'
import cnaFeatured from '@/components/frontend/cnaFeatured'
import cnaHeadlines from '@/components/frontend/cnaHeadlines'
import cnaMostSeen from '@/components/frontend/cnaMostSeen'
import cnaSurvey from '@/components/frontend/cnaSurvey'
import cnaTitle from '@/components/frontend/cnaTitle'
import cnaWrapper from '@/components/frontend/cnaWrapper'

export default {
    mixins: [formatDate],
    components: {
        cnaAdvertising,
        cnaBoxes,
        cnaFeatured,
        cnaHeadlines,
        cnaMostSeen,
        cnaSurvey,
        cnaTitle,
        cnaWrapper
    },
    data: () => ({
        articles: [
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/animals'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/animals/grayscale'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/arch'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/arch/grayscale'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/nature'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/nature/grayscale'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/people'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/people/grayscale'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/tech'
            },
            {
                title: 'dasdasdasd',
                description:
                    'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime fugiat rerum minus sit maiores facilis ipsa voluptates consectetur reprehenderit, incidunt doloribus doloremque? Cumque, veniam placeat perferendis reprehenderit voluptatem excepturi cum?',
                thumbnail: 'https://placeimg.com/640/480/tech/grayscale'
            }
        ]
    }),
    methods: {}
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .home {
        &__date {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-transform: uppercase;
        }

        &__section {
            margin-bottom: 4rem;

            &--aside {
                display: grid;
                grid-template-columns: calc(100% - 300px) 300px;
            }
        }
    }
}
</style>
