<template>
    <v-container>
        <div :key="key" v-for="(item, key) in contentToRender">
            <v-card flat>
                <v-card-text v-html="marked(item.value)" v-if="item && item.type === 'paragraph'"></v-card-text>
                <v-responsive v-if="item && item.type === 'image'">
                    <v-img :alt="article.title + key" :src="item.value"></v-img>
                </v-responsive>
            </v-card>
        </div>
        <slot name="btnClose"></slot>
    </v-container>
</template>

<script>
import marked from "marked"
import { firestore } from "@/config/firebase"

export default {
    data() {
        return {
            collectionName: "articles",
            collectionRef: "",
            article: {},
            content: []
        }
    },
    mounted() {
        if (this.$props.id) {
            this.collectionRef = firestore.collection(this.collectionName)
            this.fetch()
        }
    },
    props: {
        id: {
            type: String,
            required: false
        },
        articleToRender: {
            type: Object,
            required: false
        },
        contentToRender: {
            type: Array,
            required: false
        }
    },
    methods: {
        fetch() {
            const { id } = this.$props
            const self = this
            this.collectionRef
                .doc(id)
                .get()
                .then(doc => {
                    if (doc.exists) {
                        self.article = doc.data()
                        self.article.content.forEach(item => {
                            if (item.type === "paragraph")
                                item.html = marked(item.value)
                        })
                        self.content = self.article.content
                    } else {
                        this.$store.commit("snackBarPush", {
                            message: "Artículo no encontrado",
                            color: "error",
                            y: "top",
                            x: "right",
                            button: {
                                color: "white",
                                message: "Cerrar"
                            }
                        })
                    }
                })
        },
        marked: marked
    }
}
</script>

<style lang="scss">
@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

@include backend {
    .render-article {
    }
}
</style>
