<template>
    <v-form @submit.prevent="formSubmit">
        <v-card>
            <v-toolbar
                card
                color="primary"
                dark
            >
                <v-toolbar-title>{{ methodObs }}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <template>
                    <v-text-field
                        :error-messages="errors.collect('youtube')"
                        box
                        data-vv-name="youtube"
                        label="URL Youtube"
                        v-model="formData.youtube"
                        v-validate="'required|min:3'"
                    />
                </template>
                <template>
                    <v-text-field
                        :error-messages="errors.collect('title')"
                        box
                        data-vv-name="title"
                        label="Nombre"
                        v-model="formData.title"
                        v-validate="'required|min:3'"
                    />
                </template>
                <template>
                    <v-textarea
                        :counter="150"
                        :error-messages="errors.collect('description')"
                        :maxlength="150"
                        :rows="1"
                        auto-grow
                        box
                        data-vv-name="description"
                        label="Descripción"
                        v-model="formData.description"
                        v-validate="'required|max:150'"
                    />
                </template>
            </v-card-text>
            <v-divider/>

            <v-divider/>
            <v-card-actions>
                <v-spacer/>
                <v-btn
                    @click="formClear"
                    color="secondary"
                    depressed
                    flat
                >Limpiar</v-btn>
                <v-btn
                    color="primary"
                    depressed
                    flat
                    type="submit"
                >Guardar</v-btn>
            </v-card-actions>
        </v-card>
        <pre>{{ $data }}</pre>
    </v-form>
</template>

<script>
class Form {
    constructor(data) {
        const boolean = data !== undefined

        this.title = boolean ? data.title : ''
        this.description = boolean ? data.description : ''
        this.image_url = boolean ? data.image_url : ''
        this.youtube = boolean ? data.youtube : ''
        this.created_at = boolean ? data.created_at : null
        this.updated_at = boolean ? data.updated_at : null
        this.created_by = boolean ? data.created_by : null
        this.updated_by = boolean ? data.updated_by : null
    }
}

export default {
    props: {
        method: {
            type: String,
            required: true
        }
    },
    data: () => ({
        formData: new Form()
    }),
    computed: {
        methodObs() {
            switch (this.method) {
                case 'POST':
                    return 'Creacion'
                    break
                case 'PUT':
                    return 'Actualizacion'
                    break
            }
        }
    },
    methods: {
        formClear() {
            this.$validator.reset()
        },
        async formSubmit() {
            const validate = await this.$validator.validateAll()
            console.log(validate)
        }
    }
}
</script>
