<template>
    <v-form @submit.prevent="$emit('submitForm')" class="cna-form-article">
        <v-card class="ml-auto mr-auto" max-width="800">
            <v-toolbar card color="primary" dark>
                <v-toolbar-title>Submit a post</v-toolbar-title>
            </v-toolbar>

            <v-card-text class="pb-0">
                <cna-image name="imagen destacada" v-model="value.image"/>
                <v-text-field box label="Título" v-model="value.title"/>
                <v-textarea :counter="150" auto-grow box label="Descripción" rows="1" v-model="value.description"/>
            </v-card-text>

            <v-divider v-show="value.content.length > 0"/>

            <v-card-text class="pb-0" v-show="value.content.length > 0">
                <template v-for="(outOne, inxOne) in value.content">
                    <div :key="inxOne" class="cna-form-article__content">
                        <v-btn @click="$emit('spliceContent', inxOne)" class="d-block ml-auto mr-auto" color="pink" flat icon>
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <template v-if="outOne.type === 'image'">
                            <cna-image box name="imagen" v-model="outOne.value"/>
                        </template>
                        <template v-else-if="outOne.type === 'paragraph'">
                            <v-textarea auto-grow box label="Párrafo" rows="1" v-model="outOne.value"/>
                        </template>
                    </div>
                </template>
            </v-card-text>

            <v-divider/>

            <v-card-actions>
                <v-spacer/>
                <v-btn @click="$emit('pushContent', 'image')" outline>
                    <v-icon>mdi-image-outline</v-icon>
                </v-btn>
                <v-btn @click="$emit('pushContent', 'paragraph')" outline>
                    <v-icon>mdi-card-text-outline</v-icon>
                </v-btn>
                <v-spacer/>
            </v-card-actions>

            <v-divider/>

            <v-card-actions>
                <v-spacer/>
                <v-btn color="success" depressed type="submit">Post</v-btn>
            </v-card-actions>
        </v-card>
        <!-- <pre>{{ value }}</pre> -->
    </v-form>
</template>

<script>
import cnaImage from '@/components/backend/cnaImage'

export default {
    components: {
        cnaImage
    },
    props: {
        value: {
            type: Object,
            required: true
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    .cna-form-article {
        &__content {
            display: block;
        }
    }
}
</style>
