<template>
    <div class="cna-image">
        <input @input="onFilePicked" accept="image/jpeg" hidden ref="file" type="file">
        <div class="cna-image__preview" v-if="value.length > 0">
            <v-img :height="240" :src="value"/>
            <div class="cna-image__preview__hover">
                <v-btn @click="crearFile" color="error" dark fab icon>
                    <v-icon>mdi-trash-can-outline</v-icon>
                </v-btn>
            </div>
        </div>
        <div class="cna-image__actions">
            <v-btn @click="onPickFile" class="ma-0" outline>Cargar {{ name }}</v-btn>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: true
        },
        name: {
            type: String,
            required: true
        }
    },
    methods: {
        onPickFile() {
            this.$refs.file.click()
        },
        onFilePicked(event) {
            const file = event.target.files[0]

            if (file) {
                if (file.type === 'image/jpeg') {
                    const reader = new FileReader()
                    reader.addEventListener('load', () => {
                        this.$emit('input', reader.result)
                    })
                    reader.readAsDataURL(file)
                } else {
                    this.$notify({
                        group: 'alerts',
                        type: 'error',
                        text: 'El formato no esta permitido!'
                    })
                }
            }
        },
        crearFile() {
            this.$emit('input', '')
            this.$notify({
                group: 'alerts',
                type: 'info',
                text: 'Imagen eliminada!'
            })
        }
    }
}
</script>


<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    .cna-image {
        position: relative;
        padding-bottom: 1rem;

        &__preview {
            position: relative;
            margin-bottom: 1rem;

            &__hover {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: none;
                align-items: center;
                justify-content: center;
                background-color: rgba($black, 0.2);
            }

            &:hover {
                .cna-image {
                    &__preview {
                        &__hover {
                            display: flex;
                        }
                    }
                }
            }
        }

        &__actions {
            // padding-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
</style>
