<template>
    <v-container class="component">
        <h1 class="component__title">Hola componente 1</h1>
        <h1 class="component__title component__title--red">Hola componente 2</h1>
        <p class="component__para"></p>
    </v-container>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    // sin compilar

    .component {
        &__title {
            color: aqua;
            &--red {
                color: red;
            }
        }

        &__para {
        }
    }

    // compilado

    .component__title {
        color: aqua;
    }

    .component__title--red {
        color: red;
    }

    .component__para {
    }
}
</style>