<template>
    <v-container class="articles" fluid grid-list-lg>
        <v-layout row wrap>
            <v-flex :key="key" md4 v-for="(article, key) in articles" xs12>
                <v-card class="elevation-1">
                    <v-img :src="article.thumbnail" height="200px"></v-img>

                    <v-card-title primary-title>
                        <div class="headline">{{article.title}}</div>
                        <span>{{article.category.name}}</span>
                    </v-card-title>
                    <v-card-actions>
                        <router-link :to="'articulo/'+article.key">
                            <v-btn flat>Editar</v-btn>
                        </router-link>
                        <v-spacer></v-spacer>
                        <v-btn @click="confirmRemove(article)" flat>
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <!-- <v-btn @click="getNextArticles" flat>
                <v-icon></v-icon>
            </v-btn>-->
        </v-layout>
        <v-btn @click="$router.push('articulo')" bottom color="pink" dark fab fixed right>
            <v-icon>add</v-icon>
        </v-btn>
        <Modal :dialog="Boolean(currentArticle)" @cancel="currentArticle = undefined" @confirm="remove()" title="Artículo" v-if="currentArticle">
            <template slot="text">¿Esta seguro de eliminar el articulo, esto borra el contenido y sus imagenes?</template>
        </Modal>
    </v-container>
</template>

<script>
import Modal from "../../components/backend/modal"
import { storage, firestore } from "../../config/firebase.js"
export default {
    components: {
        Modal
    },
    data: () => ({
        articleRef: "articles",
        articles: [],
        lastArticleVisible: 0,
        currentArticle: undefined
    }),
    mounted() {
        const self = this
        console.log("mounted", this.articleRef)
        this.articleRef = firestore.collection(this.articleRef)
        this.scroll()
        this.articleRef
            .orderBy("title")
            .limit(2)
            .get()
            .then(querySnapshot => {
                querySnapshot.forEach(doc => {
                    self.articles.push({ key: doc.id, ...doc.data() })
                })
                self.lastArticleVisible =
                    querySnapshot.docs[querySnapshot.docs.length - 1]
            })
    },
    destroyed() {
        this.articleRef.onSnapshot(() => {})
    },
    methods: {
        getNextArticles() {
            const self = this
            if (this.lastArticleVisible) {
                this.articleRef
                    .orderBy("title")
                    .startAfter(this.lastArticleVisible)
                    .limit(2)
                    .get()
                    .then(querySnapshot => {
                        querySnapshot.forEach(doc => {
                            self.articles.push({ key: doc.id, ...doc.data() })
                        })
                        self.lastArticleVisible =
                            querySnapshot[querySnapshot.docs.length - 1]
                    })
            }
        },
        confirmRemove(article) {
            this.currentArticle = article
        },
        remove() {
            const article = this.currentArticle
            article &&
                this.articleRef
                    .doc(article.key)
                    .delete()
                    .then(() => {
                        storage
                            .ref()
                            .child("images")
                            .child(article.key + "/")
                            .delete()
                        article.category.doc(article.key).delete()
                        this.$store.commit("snackBarPush", {
                            message: "Eliminado Correctamente",
                            color: "info",
                            y: "top",
                            x: "right",
                            button: {
                                color: "white",
                                message: "Cerrar"
                            }
                        })
                        this.articles = this.articles.filter(
                            a => a.key !== article.key
                        )
                        this.currentArticle = undefined
                    })
        },
        scroll() {
            window.onscroll = () => {
                let bottomOfWindow =
                    document.documentElement.scrollTop + window.innerHeight ===
                    document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    this.getNextArticles()
                }
            }
        }
    }
}
</script>



<style lang="scss">
@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

@include backend {
    .articles {
    }
}
</style>