<template>
    <v-container>
        <v-card class="article">
            <v-card-title>
                <span class="headline">Artículo</span>

                <v-spacer></v-spacer>
                <v-switch :value="true" color="success" hide-details label="Publicado" v-model="article.published"></v-switch>
            </v-card-title>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex class="text-xs-center text-sm-center text-md-center text-lg-center" xs12>
                            <v-img :src="article.img_path" height="200" v-if="article.img_path"/>
                            <v-btn
                                @click="pickImage('image')"
                                label="Imagen principal"
                                prepend-icon="attach_file"
                                v-model="article.imgName"
                            ></v-btn>
                            <v-progress-linear
                                :value="imageProgress"
                                color="success"
                                height="7"
                                v-if="imageProgress && imageProgress < 100"
                            ></v-progress-linear>
                            <input @change="onPrimaryImagePicked" accept="image/*" ref="image" style="display: none" type="file">
                        </v-flex>
                        <v-flex md4 sm6 xs12>
                            <v-text-field label="Título" required v-model="article.title"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-textarea auto-grow box color="red" label="Descripción" loading placeholder="Escribe..." ref="contentElements" v-model="article.description">
                                <template v-slot:progress>
                                    <v-progress-linear :color="descriptionColor" :value="descriptionProgress" height="7"></v-progress-linear>
                                </template>
                            </v-textarea>
                        </v-flex>
                        <v-flex sm12 xs12>
                            <v-autocomplete
                                :items="categories"
                                :search-input.sync="searchInputCategory"
                                item-text="name"
                                item-value="docRef"
                                label="Categoría"
                                v-model="article.category"
                            >
                                <template slot="no-data">
                                    <v-btn @click="showCategoryDialog = true" flat>
                                        <v-icon>add</v-icon>Agregar Nueva
                                    </v-btn>
                                </template>
                            </v-autocomplete>
                        </v-flex>
                        <!--
                            ##### Contenido del Artículo
                        -->
                        <v-flex md12 sm12 xs12>
                            <v-card :key="key" v-for="(item, key) in articleContent">
                                <v-card-text v-if="item && item.type === 'paragraph'">
                                    <v-textarea :label="'Parrafo' + item.position" :name="item.type + item.position" auto-grow box ref="contentElements" v-model="item.value"></v-textarea>
                                </v-card-text>
                                <v-responsive v-if="item && item.type === 'image'">
                                    <v-img :alt="item.alt" :src="item.value" v-if="item.value"></v-img>
                                    <v-layout justify-center>
                                        <input @change="onContentImagePicked" accept="image/*" ref="contentElements" style="display: none" type="file">
                                        <v-progress-linear :value="contentImageProgress" color="success" height="7" v-if="contentImageProgress && contentImageProgress < 100"></v-progress-linear>
                                        <v-btn @click="handleClickUploadContentImage(key)" flat>Cargar Imagen</v-btn>
                                    </v-layout>
                                </v-responsive>
                                <v-card-actions v-if="item">
                                    <v-spacer></v-spacer>
                                    <v-btn @click="deleteContentItem(key)" icon>
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
                <small>*indica campos obligatorios</small>
            </v-card-text>
            <v-card-actions>
                <v-btn @click="showArticlePreview" color="blue darken-1" flat>Vista previa</v-btn>
                <v-spacer></v-spacer>
                <v-btn @click="save" color="blue darken-1" flat>Guardar</v-btn>
            </v-card-actions>
            <v-dialog max-width="70%" persistent v-if="showCategoryDialog" v-model="showCategoryDialog">
                <category :defaultName="searchInputCategory">
                    <template v-slot:btnClose>
                        <v-btn @click="showCategoryDialog = false">Cerrar</v-btn>
                    </template>
                </category>
            </v-dialog>
            <v-dialog max-width="90%" v-if="showDialog" v-model="showDialog">
                <RenderArticle :contentToRender="article.content">
                    <template v-slot:btnClose>
                        <v-btn @click="showDialog = false">Cerrar</v-btn>
                    </template>
                </RenderArticle>
            </v-dialog>
        </v-card>
        <!-- ########## Action button add content ##############-->
        <v-speed-dial bottom direction="top" fixed open-on-hover right transition="'slide-y-reverse-transition'" v-model="fab">
            <template v-slot:activator>
                <v-btn color="blue darken-2" dark fab v-model="fab">
                    <v-icon>add_box</v-icon>
                    <v-icon>close</v-icon>
                </v-btn>
            </template>
            <v-btn @click="addContentItem('image')" color="green" dark fab small>
                <v-icon>add_photo_alternate</v-icon>
            </v-btn>
            <v-btn @click="addContentItem('paragraph')" color="indigo" dark fab small>
                <v-icon>text_fields</v-icon>
            </v-btn>
        </v-speed-dial>
    </v-container>
</template>

<script>
import RenderArticle from '../../components/backend/render-article'
import Category from '../../views/backend/Category'
import marked from 'marked'
import slugify from 'slugify'
import { auth, storage, firestore, firebase } from '../../config/firebase.js'

export default {
    components: {
        RenderArticle,
        Category
    },
    data: () => ({
        collectionName: 'articles',
        docRef: undefined,
        storageRef: undefined,
        article: {
            published: false,
            title: '',
            description: '',
            content: [],
            category: {},
            slug: '',
            img_path: '',
            thumbnail: '',
            created_by: auth.currentUser.uid,
            created_at: new Date(),
            updated_at: new Date(),
            update_by: auth.currentUser.uid
        },
        searchInputCategory: '',
        articleContent: [],
        imageFile: undefined,
        imageProgress: 0,
        contentImageProgress: 0,
        fab: false,
        showDialog: false,
        showCategoryDialog: false,
        categories: [],
        oldCategoryId: undefined,
        currentContentElement: 0
    }),
    computed: {
        descriptionProgress() {
            return Math.min(157, this.article.description.length) / 1.57
        },
        descriptionColor() {
            return ['error', 'warning', 'success', 'warning'][Math.floor(this.descriptionProgress / 34)]
        }
    },
    mounted() {
        const idDocument = this.$route.params.id
        this.docRef = idDocument
            ? // if param id is undefined, create a new document
              firestore.collection(this.collectionName).doc(idDocument)
            : firestore.collection(this.collectionName).doc()
        idDocument && this.fetch()
        this.categoriesSetOnSnapshot()
        this.storageRef = storage
            .ref()
            .child('images')
            .child(this.collectionName)
    },
    methods: {
        fetch() {
            const self = this
            this.docRef.get().then((doc) => {
                if (doc.exists) {
                    let data = doc.data()
                    this.articleContent = data.content
                    self.article = data
                    self.oldCategoryId = data.category.id
                } else {
                    this.$store.commit('snackBarPush', {
                        message: 'Artículo no encontrado',
                        color: 'error',
                        y: 'top',
                        x: 'right',
                        button: {
                            color: 'white',
                            message: 'Cerrar'
                        }
                    })
                }
            })
        },
        save() {
            // conservar slug para nombrar las imagenes.
            let article = this.article
            article.slug = slugify(this.article.title)
            article.update_by = auth.currentUser.uid
            article.updated_at = new Date()
            this.docRef
                .set(article)
                .then(() => {
                    this.$store.commit('snackBarPush', {
                        message: 'Creado / Actualizado Correctamente',
                        color: 'success',
                        y: 'top',
                        x: 'right',
                        button: {
                            color: 'white',
                            message: 'Cerrar'
                        }
                    })
                    // observa si el articulo ha cambiado de categoría para elinarlo entonces de la categoria anterior
                    if (this.oldCategoryId !== article.category.id) {
                        console.log('old, new', this.oldCategoryId, article.category.id)
                        firestore
                            .collection('categories')
                            .doc(this.oldCategoryId)
                            .collection('articles')
                            .doc(this.docRef.id)
                            .delete()
                    }
                    article.category
                        .collection('articles')
                        .doc(this.docRef.id)
                        .set({
                            ref: this.docRef,
                            published: article.published,
                            title: article.title,
                            description: article.description,
                            slug: article.slug,
                            thumbnail: article.thumbnail,
                            created_by: article.created_by,
                            created_at: article.created_at,
                            updated_at: article.updated_at
                        })
                })
                .catch((error) => {
                    console.log(error)
                    this.$store.commit('snackBarPush', {
                        message: 'Ocurrió un Error',
                        color: 'error',
                        y: 'top',
                        x: 'right',
                        button: {
                            color: 'white',
                            message: 'Cerrar'
                        }
                    })
                })
        },
        categoriesSetOnSnapshot() {
            firestore.collection('categories').onSnapshot((querySnapshot) => {
                querySnapshot.docChanges().forEach((change) => {
                    let data = change.doc.data()
                    data.docRef = change.doc.ref
                    if (change.type === 'added') {
                        this.categories.push({
                            key: change.doc.id,
                            name: data.name,
                            docRef: data.docRef
                        })
                        if (this.showCategoryDialog) {
                            this.article.category = {
                                key: change.doc.id,
                                name: data.name,
                                docRef: data.docRef
                            }
                            this.showCategoryDialog = false
                        }
                    }
                    if (change.type === 'modified') {
                        let found = this.categories.findIndex((e) => {
                            return e.key === change.doc.id
                        })
                        this.categories[found] = {
                            key: change.doc.id,
                            name: data.name,
                            docRef: data.docRef
                        }
                    }
                    if (change.type === 'removed') {
                        this.categories = this.categories.filter((e) => {
                            return e.key !== change.doc.id
                        })
                    }
                })
            })
        },
        // methods for content
        addContentItem(contentType) {
            if (contentType === 'paragraph')
                this.articleContent.push({
                    type: 'paragraph',
                    value: '',
                    position: this.articleContent.length
                })
            else if (contentType === 'image')
                // TODO
                this.articleContent.push({
                    type: 'image',
                    value: '',
                    alt: '',
                    position: this.articleContent.length
                })
        },
        deleteContentItem(itemPosition) {
            let item = this.articleContent[itemPosition]
            if (item && item.type === 'image') {
                item.value = ''
                this.storageRef
                    .child(this.docRef.id + itemPosition)
                    .delete()
                    .finally(() => {
                        this.articleContent = this.articleContent.splice(itemPosition, 1)
                    })
            } else this.articleContent = this.articleContent.splice(itemPosition, 1)
        },

        showArticlePreview() {
            this.showDialog = true
        },
        handleClickUploadContentImage(key) {
            this.currentContentElement = key
            this.$refs.contentElements[key].click()
        },
        onContentImagePicked(e) {
            const files = e.target.files
            const metadata = {
                contentType: 'image/jpeg'
            }
            this.contentImageProgress = 5
            if (files[0] !== undefined) {
                const fr = new FileReader()
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    //art.img_path = fr.result;
                    let imageFile = files[0]
                    const uploadTask = this.storageRef.child(this.docRef.id + this.currentContentElement).put(imageFile, metadata)
                    uploadTask.on(
                        firebase.storage.TaskEvent.STATE_CHANGED,
                        (snapshot) => {
                            this.contentImageProgress = Math.max(5, (snapshot.bytesTransferred / snapshot.totalBytes) * 100 - 3)
                            console.log('Upload is ' + this.contentImageProgress + '% done')
                        },
                        (error) => {
                            switch (error.code) {
                                case 'storage/unauthorized':
                                    // User doesn't have permission to access the object
                                    break

                                case 'storage/canceled':
                                    // User canceled the upload
                                    break
                                case 'storage/unknown':
                                    // Unknown error occurred, inspect error.serverResponse
                                    break
                            }
                        },
                        () => {
                            // Upload completed successfully, now we can get the download URL
                            uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) => {
                                let element = this.articleContent[this.currentContentElement]
                                console.log('File available at', downloadURL)
                                element.value = downloadURL
                                // TODO: resize image for thumbnail
                                element.thumbnail = downloadURL
                                this.contentImageProgress = 0
                            })
                        }
                    )
                })
            } else {
                let art = this.article
                this.imageFile = undefined
                art.img_path = ''
            }
        },
        //methods for image picker
        pickImage(ref) {
            console.log(this.$refs[ref])
            this.$refs[ref].click()
        },
        onPrimaryImagePicked(e) {
            const files = e.target.files
            const self = this
            let art = this.article
            const metadata = {
                contentType: 'image/jpeg'
            }
            self.imageProgress = 5
            if (files[0] !== undefined) {
                const fr = new FileReader()
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    self.imageFile = files[0]
                    const uploadTask = this.storageRef.child(this.docRef.id).put(self.imageFile, metadata)
                    uploadTask.on(
                        firebase.storage.TaskEvent.STATE_CHANGED,
                        (snapshot) => {
                            self.imageProgress = Math.max(5, (snapshot.bytesTransferred / snapshot.totalBytes) * 100 - 3)
                            console.log('Upload is ' + self.imageProgress + '% done')
                        },
                        (error) => {
                            switch (error.code) {
                                case 'storage/unauthorized':
                                    // User doesn't have permission to access the object
                                    break

                                case 'storage/canceled':
                                    // User canceled the upload
                                    break
                                case 'storage/unknown':
                                    // Unknown error occurred, inspect error.serverResponse
                                    break
                            }
                        },
                        () => {
                            // Upload completed successfully, now we can get the download URL
                            uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) => {
                                let art = this.article
                                console.log('File available at', downloadURL)
                                art.img_path = downloadURL
                                // TODO: resize image for thumbnail
                                art.thumbnail = downloadURL
                                self.ImageProgress = 0
                            })
                        }
                    )
                })
            } else {
                self.imageFile = undefined
                art.img_path = ''
            }
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    // .article {
    // }
}
</style>