<template>
    <v-card class="category">
        <v-card-title>
            <span class="headline">Categoría</span>
        </v-card-title>
        <v-card-text>
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex md4 sm6 xs12>
                        <v-text-field hint="Nombre de la categoría" label="*Nombre" required v-model="category.name"></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-textarea
                            auto-grow
                            box
                            color="red"
                            counter="157"
                            hint="Descripción de la categoría, Esta debe contener 157 caracteres con el fin de cumplir todo el espacio en el para descripción en la pagina de búsqueda de Google."
                            label="Descripción"
                            loading
                            placeholder="Escribe..."
                            v-model="category.description"
                        >
                            <template v-slot:progress>
                                <v-progress-linear :color="descriptionColor" :value="descriptionProgress" height="7"></v-progress-linear>
                            </template>
                        </v-textarea>
                    </v-flex>
                    <v-flex xs4>
                        <v-checkbox label="¿Visible en portada?" v-model="category.home"></v-checkbox>
                    </v-flex>
                </v-layout>
            </v-container>
            <small>*indica campos obligatorios</small>
        </v-card-text>
        <v-card-actions>
            <slot name="btnClose"></slot>
            <v-spacer></v-spacer>
            <v-btn @click="save" color="primary" flat>Save</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import slugify from 'slugify'
import { firestore, auth } from '../../config/firebase.js'
export default {
    data: () => ({
        docRef: firestore.collection('categories'),
        category: {
            name: '',
            description: '',
            home: false,
            slug: '',
            created_by: auth.currentUser.uid,
            created_at: new Date()
        }
    }),
    props: {
        id: String,
        defaultName: String
    },
    computed: {
        descriptionProgress() {
            return Math.min(157, this.category.description.length) / 1.57
        },
        descriptionColor() {
            return ['error', 'warning', 'success', 'warning'][Math.floor(this.descriptionProgress / 34)]
        },
        descriptionColor() {
            return ['error', 'warning', 'success', 'warning'][Math.floor(this.descriptionProgress / 34)]
        }
    },

    mounted() {
        console.log('category mounted')
        const idDocument = this.$props.id || this.$route.params.categoryId
        this.category.name = this.$props.defaultName
        idDocument
            ? // if param id is undefined, create a new document
              this.fetch(idDocument)
            : (this.docRef = this.docRef.doc())
    },
    methods: {
        fetch(id) {
            const self = this
            this.docRef = this.docRef.doc(id)
            this.docRef.get().then((doc) => {
                if (doc.exists) {
                    self.category = doc.data()
                } else {
                    this.$store.commit('snackBarPush', {
                        message: 'Error al descargar el documento',
                        color: 'error',
                        y: 'top',
                        x: 'right',
                        button: {
                            color: 'white',
                            message: 'Cerrar'
                        }
                    })
                }
            })
        },
        save() {
            // this.category.slug = slugify(this.category.name);
            //TODO: validar que no hayan dos slug iguales en la colección
            this.docRef
                .set(this.category)
                .then(() => {
                    this.$store.commit('snackBarPush', {
                        message: 'Creado / Actualizado Correctamente',
                        color: 'success',
                        y: 'top',
                        x: 'right',
                        button: {
                            color: 'white',
                            message: 'Cerrar'
                        }
                    })
                })
                .catch((error) => {
                    console.log(error)
                    this.$store.commit('snackBarPush', {
                        message: 'Ocurrió un error',
                        color: 'error',
                        y: 'top',
                        x: 'right',
                        button: {
                            color: 'white',
                            message: 'Cerrar'
                        }
                    })
                })
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    .category {
    }
}
</style>