<template>
    <v-container fluid grid-list-lg>
        <v-layout row wrap>
            <v-spacer v-show="form"/>
            <v-flex md6 v-show="form">
                <v-form @submit.prevent="formSubmit" ref="form">
                    <v-card>
                        <v-toolbar card color="primary" dark>
                            <v-toolbar-title>Nueva categoría</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-text-field :error-messages="errors.collect('title')" box data-vv-name="title" label="Nombre" v-model="formData.title" v-validate="'required|min:3'"></v-text-field>
                            <v-textarea
                                :counter="150"
                                :error-messages="errors.collect('description')"
                                auto-grow
                                box
                                data-vv-name="description"
                                label="Descripción"
                                v-model="formData.description"
                                v-validate="'required|max:150'"
                            ></v-textarea>
                        </v-card-text>
                        <v-divider/>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn @click="formClear()" color="secondary" depressed flat>Cancelar</v-btn>
                            <v-btn color="primary" depressed flat type="submit">Guardar</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
            </v-flex>
            <v-spacer v-show="form"/>
            <v-flex :key="inxOne" md3 sm6 v-for="(outOne, inxOne) in storageCategories" v-show="!form" xs12>
                <v-card>
                    <v-container fluid>
                        <v-layout row wrap>
                            <v-flex xs6>
                                <h3 class="text-xs-center mb-3">Vistas</h3>
                                <v-progress-circular
                                    :rotate="360"
                                    :size="80"
                                    :value="getPercentViews(outOne.id)"
                                    :width="10"
                                    class="d-block mx-auto"
                                    color="teal"
                                >{{ getArticlesViews(outOne.id) }}</v-progress-circular>
                            </v-flex>
                            <v-flex xs6>
                                <h3 class="text-xs-center mb-3">Artículos</h3>
                                <v-progress-circular
                                    :rotate="360"
                                    :size="80"
                                    :value="getPercentCount(outOne.id)"
                                    :width="10"
                                    class="d-block mx-auto"
                                    color="red"
                                >{{ getArticlesCount(outOne.id)}}</v-progress-circular>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <v-divider/>
                    <v-card-actions>
                        <h3 class="text-truncate mr-2">{{ outOne.title }}</h3>
                        <v-spacer/>
                        <v-btn @click="formEdit(outOne.id)" icon>
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <!-- <v-btn icon>
                                <v-icon>mdi-delete</v-icon>
                        </v-btn>-->
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <v-btn @click="form = true" bottom color="blue darken-1" dark fab fixed right v-show="!form">
            <v-icon>add</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import { Categories, dictionary } from '@/models/Categories'
import { firestore } from '@/config/firebase'
import { slugify } from '@/helpers/slugify'

export default {
    data: () => ({
        id: null,
        form: false,
        formData: new Categories(),
        formDataTemporary: new Categories(),
        method: 'POST',
        dictionary: dictionary,
        data: [],
        counter: {},
        isNew: true,
    }),
    computed: {
        ...mapGetters([
            'storageCategory',
            'storageCategories',
            'storageCounter'
        ])
    },
    watch: {
        $route(to, from) {
            this.observeRoute(to)
        }
    },
    methods: {
        observeRoute(route) {
            const { id } = route.params
            if (id !== undefined) {
                this.id = id
                this.form = true
                this.method = 'PUT'
            } else {
                this.id = null
                this.form = false
                this.method = 'POST'
            }
        },
        getData() {
            this.$store.dispatch('GET', {
                ref: firestore.collection('categories'),
                storage: 'storageCategories',
                storageHandler: 'storageCategoriesHandler'
            })
        },
        getArticlesCount(id) {
            let category = this.storageCounter.categories[id]
            return category && category.count
        },
        getArticlesViews(id) {
            let category = this.storageCounter.categories[id]
            return category && category.views
        },
        getPercentViews(id) {
            const { articleViews, categories } = this.storageCounter
            let category = categories[id]
            return category && Math.round((category.views / articleViews) * 100)
        },
        getPercentCount(id) {
            const { articleCount, categories } = this.storageCounter
            let category = categories[id]
            return category && Math.round((category.count / articleCount) * 100)
        },
        formEdit(id) {
            this.isNew = false
            this.$store.dispatch("GET", {
                ref: firestore.collection("categories").doc(id),
                storage: "storageCategory",
                storageHandler: "storageCategoryHandler"
            })

            const data = this.storageCategories.filter(elem =>
                elem.id.includes(id)
            )
            this.formData = new Categories(data[0])
            this.formDataTemporary = new Categories(data[0])
            this.$router.push(`/admin/categories/${id}`)
        },
        formRemove(id) {},
        formClear() {
            this.form = false
            this.formData = new Categories()
            this.$validator.reset()
            this.$router.push(`/admin/categories`)
            this.isNew = false
        },
        formSubmit() {
            this.$validator.validateAll().then(boolean => {
                if (boolean) {
                    const date = new Date()
                    if (this.method === 'POST') {
                        this.$store
                            .dispatch('SAVE', {
                                ref: firestore.collection('categories').doc(),
                                storage: 'storageCategories',
                                storageHandler: 'storageCategoriesHandler',
                                route: '/admin/categories',
                                data: {
                                    ...this.formData,
                                    created: date,
                                    path: slugify(this.formData.title)
                                }
                            })
                            .then(response => {
                                if(true || this.isNew){
                                    this.initCounter()
                                }
                                this.formClear()
                                this.$store.dispatch(
                                    'storageCategoriesHandler',
                                    []
                                )
                                this.formClear()
                                this.getData()
                            })

                        // const id = firestore.collection("categories").doc()

                        // firestore
                        //     .collection("categories")
                        //     .add({
                        //         ...this.formData,
                        //         created: date,
                        //         path: slugify(this.formData.title)
                        //     })
                        //     .then(response => {
                        //         this.getData()
                        //         this.formClear()
                        //     })
                    } else if (this.method === 'PUT') {
                        firestore
                            .collection('categories')
                            .doc(this.id)
                            .set({
                                ...this.formData,
                                path: slugify(this.formData.title),
                                updated: date
                            })
                            .then(response => {
                                this.getData()
                                this.formClear()
                            })
                    } else if (this.method === 'DELETE') {
                    }
                }
            })
        },
        initArticlesCounter(id){
            const batch = firestore.batch()
            batch.set(firestore.collection("categories").doc(id || this.id), {
                articles: 0,
            }, { merge: true })
            batch.commit()
        },
    },
    created() {
        !this.storageCategories.length && this.getData()
        this.observeRoute(this.$route)
    },
    mounted() {
        this.$validator.localize('es', this.dictionary)
    }
}
</script>
