<template>
    <v-container class="home"></v-container>
</template>

<script>
export default {
    components: {}
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    .home {
    }
}
</style>
