<template>
    <v-card class="poll">
        <v-card-title>
            <span class="headline">Encuesta</span>
        </v-card-title>
        <v-card-text>
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex md4 sm6 xs12></v-flex>
                    <v-flex xs12>
                        <v-textarea
                            auto-grow
                            box
                            color="red"
                            counter="157"
                            hint="Descripción de la pregunta"
                            label="Pregunta"
                            loading
                            placeholder="Escribe..."
                            v-model="poll.question"
                        >
                            <template v-slot:progress>
                                <v-progress-linear :color="descriptionColor" :value="descriptionProgress" height="7"></v-progress-linear>
                            </template>
                        </v-textarea>
                    </v-flex>
                    <v-checkbox :label="$props.pollId?'¿Reiniciar?':'¿iniciar?'" v-model="init"></v-checkbox>
                    <v-flex row xs12>
                        <v-label>SI</v-label>
                        <v-spacer></v-spacer>
                        <v-progress-circular :rotate="-90" :size="100" :value="percentYes" :width="15" color="primary">{{ percentYes}} %</v-progress-circular>
                        <v-spacer></v-spacer>
                        <v-label>NO</v-label>
                        <v-spacer></v-spacer>
                        <v-progress-circular :rotate="-90" :size="100" :value="percentNo" :width="15" color="red">{{ percentNo}} %</v-progress-circular>
                    </v-flex>
                </v-layout>
            </v-container>
            <small>Total respuestas {{totalAnswers}}</small>
        </v-card-text>
        <v-card-actions>
            <slot name="btnClose"></slot>
            <v-spacer></v-spacer>
            <v-btn @click="save" color="primary" flat>Save</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import slugify from "slugify"
import { firestore, auth } from "../../config/firebase.js"
export default {
    data() {
        return {
            docRef: undefined,
            init: true,
            poll: {
                question: "",
                created_by: auth.currentUser.uid,
                created_at: new Date(),
                updated_at: new Date()
            },
            answers: [],
            totalYes: 0,
            totalNo: 0
        }
    },
    props: {
        pollId: String,
        edit: {
            type: Boolean
        }
    },
    computed: {
        descriptionProgress() {
            return Math.min(157, this.poll.question.length) / 1.57
        },
        descriptionColor() {
            return ["error", "warning", "success", "warning"][
                Math.floor(this.descriptionProgress / 34)
            ]
        },
        totalAnswers() {
            return this.totalYes + this.totalNo
        },
        percentYes() {
            return Math.round((this.totalYes / this.totalAnswers) * 100)
        },
        percentNo() {
            return Math.round((this.totalNo / this.totalAnswers) * 100)
        }
    },
    mounted() {
        const idDocument = this.$props.pollId || this.$route.params.pollId
        this.docRef = firestore.collection("polls")
        idDocument
            ? // if param id is undefined, create a new document
              this.fetch(idDocument)
            : (this.docRef = this.docRef.doc())
        this.docRef
            .collection("answers")
            .doc("yes")
            .get()
            .then(doc => {
                if (doc.exists) this.totalYes = doc.data().count
            })
        this.docRef
            .collection("answers")
            .doc("no")
            .get()
            .then(doc => {
                if (doc.exists) this.totalNo = doc.data().count
            })
    },
    methods: {
        fetch: function(id) {
            const self = this
            this.docRef = this.docRef.doc(id)
            this.docRef.get().then(doc => {
                if (doc.exists) {
                    self.poll = doc.data()
                } else {
                    this.$store.commit("snackBarPush", {
                        message: "Error al descargar el documento",
                        color: "error",
                        y: "top",
                        x: "right",
                        button: {
                            color: "white",
                            message: "Cerrar"
                        }
                    })
                }
            })
        },
        save() {
            // this.poll.slug = slugify(this.poll.name);
            //TODO: validar que no hayan dos slug iguales en la colección
            const poll = this.poll
            poll.updated_at = new Date()
            this.docRef
                .set(poll)
                .then(() => {
                    if (this.init) {
                        this.initAnswersCounter()
                    }
                    this.$store.commit("snackBarPush", {
                        message: "Creado / Actualizado Correctamente",
                        color: "success",
                        y: "top",
                        x: "right",
                        button: {
                            color: "white",
                            message: "Cerrar"
                        }
                    })
                })
                .catch(error => {
                    console.log(error)
                    this.$store.commit("snackBarPush", {
                        message: "Ocurrió un error",
                        color: "error",
                        y: "top",
                        x: "right",
                        button: {
                            color: "white",
                            message: "Cerrar"
                        }
                    })
                })
        },
        initAnswersCounter() {
            const batch = firestore.batch()
            // Initialize the counter document
            batch.set(this.docRef.collection("answers").doc("yes"), {
                count: 0
            })
            batch.set(this.docRef.collection("answers").doc("no"), { count: 0 })
            batch.commit()
        }
    }
}
</script>

<style lang="scss">
@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

@include backend {
    .poll {
    }
}
</style>