<template>
    <v-container class="polls" fluid grid-list-lg>
        <h1>Encuestas</h1>
        <v-flex xs6>
            <v-select
                    v-model="activePoll"
                    :items="polls"
                    item-text="question"
                    item-value="question"
                    label="Encuesta Publicada"
                
                    box
                    return-object
                    @input="setActive"
            ></v-select>
        </v-flex>
        <v-layout row wrap>
            <v-flex :key="key" xs12 md4 sm12 v-for="(poll, key) in polls" >
                <v-card>
                    <v-card-title primary-title>
                        <div>
                            <div class="headline">{{poll.question}}</div>
                        </div>
                    </v-card-title>

                    <v-card-actions>
                        <v-btn @click="openEditModal(poll.key)" flat>Editar</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn @click="currentPoll = poll" icon>
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <v-btn @click="openCreateModal" bottom color="primary" dark fab fixed right>
            <v-icon>add</v-icon>
        </v-btn>
        <v-dialog max-width="70%" persistent v-if="showDialog" v-model="showDialog">
            <poll :pollId="currentPollId">
                <template v-slot:btnClose>
                    <v-btn @click="showDialog = false">Cerrar</v-btn>
                </template>
            </poll>
        </v-dialog>
        <Modal v-if="currentPoll" :dialog="Boolean(currentPoll)" title="Categoría" @confirm="remove()" @cancel="currentPoll = undefined">
            <template slot="text">
                ¿Esta seguro de eliminar la encuesta {{currentPoll.name}}?
            </template>
        </Modal>
    </v-container>
</template>

<script>
import { storage, firestore } from '../../config/firebase.js'
import Poll from './Poll'
import Modal from '../../components/backend/modal'

export default {
    components: { Poll, Modal },
    data: () => ({
        pollRef: 'polls',
        polls: [],
        currentPoll: undefined,
        currentPollId:undefined,
        activePoll:undefined,
        lastPollVisible: 0,
        showDialog: false,

    }),
    mounted() {
        console.log('Polls Mounted')
        this.pollRef = firestore.collection(this.pollRef);
        this.setOnSnapshot()
    },
    destroyed() {
        this.pollRef.onSnapshot(() => {})
    },
    methods: {
        setActive(poll){
            console.log(poll)
                this.pollRef.doc('active').set({ref: poll.ref, question: poll.question }).then(()=>{
                    this.$store.commit('snackBarPush', {
                        message: 'Encuesta Activa' + poll.question,
                        color: 'info',
                        y: 'top',
                        x: 'right',
                        button: {
                            color: 'white',
                            message: 'Cerrar'
                        }
                    })
                })
        },
        setOnSnapshot() {
            const self = this
            this.pollRef.onSnapshot((querySnapshot) => {
                querySnapshot.docChanges().forEach((change) => {
                    if (change.type === 'added') {
                        const data = change.doc.data()
                        change.doc.id === "active"
                        ?self.activePoll = data
                        :self.polls.push({ key: change.doc.id, ...data , ref : change.doc.ref})
                        this.showDialog = false
                    }

                    if (change.type === 'modified') {
                        let found = self.polls.findIndex((e) => {
                            return e.key === change.doc.id
                        });
                        self.polls[found] = {key: change.doc.id,...change.doc.data(), ref : change.doc.ref};
                        this.showDialog = false;
                    }
                    if (change.type === 'removed') {
                        self.polls = self.polls.filter((e) => {
                            return e.key !== change.doc.id
                        })
                    }
                })
            })
        },
        remove() {
            this.currentPoll &&
            this.pollRef
                .doc(this.currentPoll.key)
                .delete()
                .then(() => {
                    this.currentPoll = undefined;
                    this.$store.commit('snackBarPush', {
                        message: 'Eliminado Correctamente',
                        color: 'info',
                        y: 'top',
                        x: 'right',
                        button: {
                            color: 'white',
                            message: 'Cerrar'
                        }
                    })
                }).catch(error => {
                this.$store.commit('snackBarPush', {
                    message: 'Error al Eliminar',
                    color: 'error',
                    y: 'top',
                    x: 'right',
                    button: {
                        color: 'white',
                        message: 'Cerrar'
                    }
                })
            })
        },
        openEditModal(id) {
            this.currentPollId = id;
            this.showDialog = true;
        },
        openCreateModal() {
            this.currentPollId = undefined;
            this.showDialog = true;
        }
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    .polls {
    }
}
</style>