<template>
    <v-container fluid grid-list-lg>
        <v-form>
            <v-layout row wrap>
                <v-flex md4>
                    <v-card class="elevation-1">
                        <v-card-title>
                            <h4 class="headline">Redes Sociales</h4>
                        </v-card-title>
                        <v-divider/>
                        <v-container fluid pa-3>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-text-field label="Facebook" v-model="settings.facebook"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field label="Twitter" v-model="settings.twitter"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
                <v-flex md4>
                    <v-card class="elevation-1">
                        <v-card-title>
                            <h4 class="headline">Redes Sociales</h4>
                        </v-card-title>
                        <v-divider/>
                        <v-container fluid pa-3>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-text-field label="Facebook" v-model="settings.facebook"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field label="Twitter" v-model="settings.twitter"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
                <v-flex md4></v-flex>
            </v-layout>
        </v-form>
    </v-container>
</template>

<script>
import Settings from '@/models/Settings.js'

export default {
    data: () => ({
        settings: new Settings()
    }),
    methods: {
        // async settingsGET() {
        //     const response = await database
        //         .ref("settings")
        //         .child("-LctLOGQ60O-OUe19cUU")
        //         .once("value")
        //     this.settings = {
        //         facebook: response.val().facebook,
        //         streamingRadio: response.val().streamingRadio,
        //         streamingTv: response.val().streamingTv,
        //         twitter: response.val().twitter
        //     }
        // },
        // async settingsPOST() {
        //     const response = await database
        //         .ref("settings")
        //         .child("-LctLOGQ60O-OUe19cUU")
        //         .push({ ...this.settings })
        // }
    },
    created() {
        this.settingsGET()
    }
}
</script>
