<template>
    <v-container>
        <cna-form-article @pushContent="pushContent($event)" @spliceContent="spliceContent($event)" @submitForm="formSubmit" v-model="formData"/>
        <pre>{{ $data }}</pre>
    </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

import { storage } from '@/config/firebase'
import { articlesRef, storageIMG } from '@/config/firebaseReferences'
import { Article } from '@/models/Article'

import cnaFormArticle from '@/components/backend/cnaFormArticle'

export default {
    components: {
        cnaFormArticle
    },
    data: () => ({
        formData: new Article(),
        formDataContent: []
    }),
    computed: {
        ...mapGetters(['user'])
    },
    methods: {
        pushContent(type) {
            if (type === 'image') {
                this.formData.content.push({
                    type: 'image',
                    value: ''
                })
            } else if (type === 'paragraph') {
                this.formData.content.push({
                    type: 'paragraph',
                    value: ''
                })
            }
        },
        spliceContent(index) {
            this.formData.content.splice(index, 1)
        },
        async formSubmit() {
            const articleID = articlesRef.doc().id
            const date = new Date()

            let content = this.formData.content

            this.formData.content = []

            await Promise.all(
                content.map(async (elem, inx) => {
                    if (elem.value.length > 0) {
                        await this.formData.content.push(elem)
                    }
                })
            )

            content = this.formData.content

            const contentIMG = content.filter((elem) => elem.type === 'image')

            await Promise.all(
                contentIMG.map(async (elem, inx) => {
                    if (contentIMG[inx].value.includes('data:')) {
                        const snapshot = await storageIMG.child(articleID + '-' + (inx + 2)).putString(elem.value, 'data_url')
                        const downloadURL = await snapshot.ref.getDownloadURL()
                        contentIMG[inx].value = downloadURL
                    }
                })
            )

            delete this.formData.id

            articlesRef.doc(articleID).set({ ...this.formData, created_at: date, created_by: this.user.id })
        }
    },
    created() {}
}
</script>


<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include backend {
    .test {
        height: 100%;
    }
}
</style>