<template>
    <v-container
        fluid
        grid-list-lg
    >
        <v-layout
            row
            wrap
        >
            <v-spacer/>
            <v-flex
                :key="inxOne"
                md4
                sm6
                v-for="(outOne, inxOne) in videosData"
                v-show="!form"
                xs12
            >
                <v-card>
                    <v-img
                        :src="`http://i.ytimg.com/vi/${outOne.youtube}/maxresdefault.jpg`"
                        height="200px"
                    />
                    <v-card-actions>
                        <div class="text-truncate mr-2">{{ outOne.title }}</div>
                        <v-spacer></v-spacer>
                        <v-btn
                            @click="editVideosForm(outOne.id)"
                            icon
                        >
                            <v-icon color="blue darken-4">mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon color="red darken-4">mdi-delete</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex
                lg6
                md8
                sm10
                v-show="form"
                xs12
            >
                <cna-form :method="method"/>
            </v-flex>
            <v-spacer/>
            <!-- <v-flex xs12>
                <pre>{{ $data }}</pre>
            </v-flex>-->
        </v-layout>
        <!-- <v-dialog max-width="400px" persistent scrollable v-model="form">
            <v-form v-model="valid">
                <v-card>
                    <v-card-title>
                        <span class="headline" v-text="method == 'POST' ? `Crear` : `Actualizar ${id}`"/>
                    </v-card-title>
                    <v-divider/>
                    <v-card-text>
                        <v-text-field :rules="youtubeRule" background-color="red darken-1" dark label="URL Youtube" solo v-model="videosForm.youtube"/>
                        <v-text-field :rules="titleRule" label="Título" solo v-model="videosForm.title"/>
                        <v-textarea :rules="descriptionRule" auto-grow label="Descripción" persistent-hint solo v-model="videosForm.description"/>
                    </v-card-text>
                    <v-divider/>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click="cancelVideosForm" color="red darken-1" flat>Cerrar</v-btn>
                        <v-btn @click="videosRequest(method)" color="green darken-1" flat>Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-form>
        </v-dialog>-->
        <v-btn
            :color="form ? 'red darken-1' : 'blue darken-1'"
            @click="form = !form"
            bottom
            dark
            fab
            fixed
            right
        >
            <v-icon>{{ form ? 'mdi-close' : 'mdi-plus' }}</v-icon>
        </v-btn>
    </v-container>
</template>


<script>
import { firestore } from '@/config/firebase.js'
import { vuetifyRule } from '@/helpers/vuetifyRule.js'
import Videos from '@/models/Videos.js'

import cnaForm from '@/components/backend/cnaForm'

export default {
    components: {
        cnaForm
    },
    data: () => ({
        form: false,
        id: null,
        method: 'POST',
        valid: false,
        videosData: [],
        videosForm: new Videos(),
        youtubeRule: vuetifyRule('URL Youtube', 0, 0),
        titleRule: vuetifyRule('El título es requerido.', 0, 0),
        descriptionRule: vuetifyRule('La descripción es requerida', 0, 0)
    }),
    watch: {
        $route(to, from) {
            this.observeRoute(to)
        }
    },
    methods: {
        observeRoute(route) {
            const { id } = route.params
            if (id !== undefined) {
                this.id = id
                this.form = true
                this.method = 'PUT'
            } else {
                this.id = null
                this.form = false
                this.method = 'POST'
            }
        },
        async editVideosForm(id) {
            const data = await this.videosData.filter(elem =>
                elem.id.includes(id)
            )
            this.videosForm = new Videos(data[0])
            this.$router.push(`/admin/videos/${id}`)
        },
        cancelVideosForm() {
            this.form = false
            this.videosForm = new Videos()
            this.$router.push('/admin/videos')
        },
        async videosRequest(method) {
            const docRef = firestore.collection('videos')
            const date = new Date()
            if (method === 'GET') {
                const response = await docRef.orderBy('createdAt', 'desc').get()
                this.videosData = []
                response.forEach(doc => {
                    this.videosData.push({ id: doc.id, ...doc.data() })
                    if (this.id === doc.id)
                        this.videosForm = new Videos(doc.data())
                })
            } else if (method === 'POST') {
                await docRef.add({ ...this.videosForm, createdAt: date })
                this.videosRequest('GET')
                this.cancelVideosForm()
            } else if (method === 'PUT') {
                await docRef
                    .doc(this.id)
                    .set({ ...this.videosForm, updatedAt: date })
                this.videosRequest('GET')
                this.cancelVideosForm()
            } else if (method === 'DELETE') {
            }
        }
    },
    created() {
        this.videosRequest('GET')
        this.observeRoute(this.$route)
    }
}
</script>
