<template>
    <v-text-field
        append-icon="mic"
        class="mx-3"
        flat
        label="Buscar"
        prepend-inner-icon="search"
        solo-inverted
    ></v-text-field>
</template>

<script>
export default {
    data: () => ({}),
    props: {
        colection: ""
    }
};
</script>
