<template>
    <div class="auth">
        <router-link class="auth__brand" to="/">
            <img alt="CNA" src="/img/logo-white.svg">
        </router-link>
        <router-view/>
    </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include auth {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white;

    &__brand {
        height: 80px;
        width: 80px;
        margin-bottom: 1rem;
        display: block;

        img {
            height: 100%;
            display: block;
        }
    }
}
</style>