<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-layout justify-center row>
        <v-dialog max-width="290" persistent v-model="dialog">
            <v-card>
                <v-card-title class="headline">{{title}}</v-card-title>
                <v-card-text>
                    <slot name="text"></slot>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="$emit('cancel')" color="green darken-1" flat>Cancelar</v-btn>
                    <v-btn @click="$emit('confirm')" color="green darken-1" flat>Confirmar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
export default {
    props: {
        dialog: {
            required: true,
            type: Boolean
        },
        title: {
            required: false,
            type: String
        }
    }
}
</script>