<template>
    <div class="frontend">
        <cna-navbar/>
        <router-view/>
    </div>
</template>

<script>
import cnaNavbar from './navbar'
export default {
    components: {
        cnaNavbar
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    min-height: 100vh;
    background-color: $white;
}
</style>