<template>
    <nav class="navbar">
        <div class="navbar__center">
            <cna-wrapper>
                <swiper :options="centerSwiper">
                    <swiper-slide :key="inxOne" v-for="(outOne, inxOne) in centerLinks">
                        <router-link :to="'/' + outOne.slug" class="navbar__center__link">
                            <v-icon>{{ outOne.icon }}</v-icon>
                            <span>{{ outOne.name }}</span>
                        </router-link>
                    </swiper-slide>
                    <div class="navbar__center__navigation navbar__center__navigation--prev" slot="button-prev">
                        <v-icon>mdi-chevron-left</v-icon>
                    </div>
                    <div class="navbar__center__navigation navbar__center__navigation--next" slot="button-next">
                        <v-icon>mdi-chevron-right</v-icon>
                    </div>
                </swiper>
            </cna-wrapper>
        </div>
        <div class="navbar__lower">
            <cna-wrapper>
                <div class="navbar__lower__divider">
                    <router-link class="navbar__brand" to="/">
                        <img alt="CNA" src="/img/logo-white.svg">
                        <div class="navbar__brand__caption">
                            <span>Televisión,</span>
                            <span>en todo el mundo</span>
                        </div>
                    </router-link>
                </div>
                <div class="navbar__lower__divider">
                    <div class="navbar__lower__weather" v-if="weather !== null">
                        <div class="navbar__lower__weather__left">
                            <span>Juliaca</span>
                            <span>{{ weather.temp }}&deg;</span>
                        </div>
                        <div class="navbar__lower__weather__right">
                            <img :src="'http://openweathermap.org/img/w/' + weather.icon + '.png'" alt>
                        </div>
                    </div>
                    <div class="navbar__lower__auth">
                        <router-link to="/">Suscribete</router-link>
                        <router-link to="/autenticacion">Ingresar</router-link>
                    </div>
                </div>
            </cna-wrapper>
        </div>
        <div class="navbar__higher">
            <cna-wrapper>
                <button class="navbar__higher__search">
                    <v-icon>mdi-magnify</v-icon>
                </button>
                <swiper :options="higherSwiper">
                    <swiper-slide :key="inxOne" v-for="(outOne, inxOne) in higherLinks">
                        <router-link :to="'/categoria/' + outOne.slug" class="navbar__higher__link">
                            <span>{{ outOne.name }}</span>
                        </router-link>
                    </swiper-slide>
                </swiper>
            </cna-wrapper>
        </div>
    </nav>
</template>

<script>
import { firestore } from '@/config/firebase.js'
import mediaQueries from '@/mixins/mediaQueries.js'

import cnaWrapper from '@/components/frontend/cnaWrapper'

export default {
    mixins: [mediaQueries],
    components: {
        cnaWrapper
    },
    data() {
        return {
            higherSwiper: {
                slidesPerView: 'auto',
                spaceBetween: 21
            },
            higherLinks: [
                {
                    slug: 'juliaca',
                    name: 'Juliaca'
                },
                {
                    slug: 'juliaca',
                    name: 'Perú'
                },
                {
                    slug: 'juliaca',
                    name: 'Mundo'
                },
                {
                    slug: 'juliaca',
                    name: 'Economía'
                },
                {
                    slug: 'juliaca',
                    name: 'Tecnología'
                },
                {
                    slug: 'juliaca',
                    name: 'Cultura'
                }
            ],
            centerSwiper: {
                slidesPerView: 'auto',
                spaceBetween: 21,
                navigation: {
                    prevEl: '.navbar__center__navigation--prev',
                    nextEl: '.navbar__center__navigation--next'
                }
            },
            centerLinks: [
                {
                    path: '/',
                    icon: 'mdi-email-outline',
                    name: 'Newsletter'
                },
                {
                    path: '/',
                    icon: 'mdi-television',
                    name: 'Televisión en vivo'
                },
                {
                    path: '/',
                    icon: 'mdi-radio',
                    name: 'Radio en vivo'
                },
                {
                    path: '/',
                    icon: 'mdi-facebook',
                    name: 'Facebook'
                },
                {
                    path: '/',
                    icon: 'mdi-twitter',
                    name: 'Twitter'
                }
            ],
            weather: null
        }
    },
    methods: {
        async firestoreCategories() {
            firestore.collection('categories').onSnapshot((querySnapshot) => {
                this.higherLinks = []
                querySnapshot.forEach((doc) => {
                    const data = doc.data()
                    this.higherLinks.push({
                        name: data.name,
                        slug: data.slug
                    })
                })
            })
        },
        async openWeatherMap() {
            const url = 'https://api.openweathermap.org/data/2.5/weather?id=3931276&appid=15b95f588b54841210a88ce67f463df9'

            const response = await fetch(url, { method: 'GET' })
            const data = await response.json()

            const formula = (kelvin) => {
                return Math.round(kelvin - 273.15)
            }

            this.weather = {
                temp: formula(data.main.temp),
                icon: data.weather[0].icon
            }
        }
    },
    created() {
        // this.firestoreCategories()
        this.openWeatherMap()
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include frontend {
    .navbar {
        &__higher {
            height: 50px;
            background-color: #757575;

            .cna-wrapper {
                padding-left: 1px;
                padding-right: 1px;
                display: flex;
                justify-content: flex-start;
            }

            .swiper-container {
                flex-grow: 1;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }

            .swiper-slide {
                width: auto;
            }

            &__search {
                height: 50px;
                width: 50px;
                min-width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 1px 0 0 0 $white, -1px 0 0 0 $white;
                i {
                    color: $white;
                }
            }

            &__link {
                height: 40px;
                width: max-content;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-size: 1.1rem;
                span {
                    color: $white;
                }
            }
        }

        &__center {
            position: relative;
            background-color: $white;
            box-shadow: 1px 1px 0 0 #bdbdbd, -1px -1px 0 0 #bdbdbd;

            .cna-wrapper {
                // padding-left: 1.5rem;
                // padding-right: 1.5rem;
                // box-shadow: 1px 1px 0 0 #BDBDBD, -1px -1px 0 0 #BDBDBD;
            }

            .swiper-container {
                padding-left: calc(40px + 1.5rem);
                padding-right: calc(40px + 1.5rem);
            }

            .swiper-slide {
                width: auto;
            }

            &__link {
                height: 40px;
                width: max-content;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                i {
                    margin-right: 0.5rem;
                }
                span {
                    color: #757575;
                }
            }

            &__navigation {
                cursor: pointer;
                position: absolute;
                z-index: 9999;
                top: 0;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                box-shadow: 1px 1px 0 0 #bdbdbd, -1px -1px 0 0 #bdbdbd;

                &.swiper-button-disabled {
                    i {
                        opacity: 0.2;
                    }
                }

                &--prev {
                    left: 1px;
                }

                &--next {
                    right: 1px;
                }
            }
        }

        &__lower {
            height: 100px;
            background-color: $white;
            box-shadow: 1px 1px 0 0 #bdbdbd, -1px -1px 0 0 #bdbdbd;

            .cna-wrapper {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__divider {
                height: 100%;
                display: flex;
                align-items: center;
            }

            &__weather {
                margin-right: 2rem;
                display: flex;
                align-items: center;
                &__left {
                    position: relative;
                    padding-right: calc(1rem + 1px);
                    span {
                        display: flex;
                        justify-content: flex-end;
                        line-height: 1;
                        &:nth-of-type(1) {
                            margin-bottom: 0.2rem;
                        }
                        &:nth-of-type(2) {
                            font-size: 1.6rem;
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        height: 100%;
                        width: 1px;
                        display: block;
                        background-color: #bdbdbd;
                    }
                }
                &__right {
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;
                    img {
                        height: 50px;
                    }
                }
            }

            &__auth {
                display: grid;
                grid-gap: 0.5rem;
                grid-template-columns: repeat(2, 100px);

                a {
                    height: 34px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 0.9rem;
                    border: 1px solid #bdbdbd;
                    color: #212121;
                    background-color: $white;

                    &:not(:last-child) {
                        color: $white;
                        background-color: #757575;
                    }
                }
            }
        }

        &__brand {
            display: flex;
            align-items: center;
            text-decoration: none;
            img {
                width: 60px;
                margin-right: 1rem;
                display: block;
            }
            &__caption {
                span {
                    display: block;
                    font-weight: 600;
                    font-size: 1.2rem;
                    line-height: 1;
                    color: $red;
                }
            }
        }

        @media (max-width: 992px) {
            &__higher {
                .cna-wrapper {
                    width: 100%;
                }
            }

            &__center {
                .cna-wrapper {
                    width: 100%;
                }
            }
            &__lower {
                &__auth {
                    display: grid;
                    grid-gap: 0.5rem;
                    grid-template-columns: 100px;
                    a {
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }

        @media (max-width: 768px) {
            &__lower {
                height: 60px;
            }

            &__brand {
                img {
                    width: 40px;
                    margin-right: 0.5rem;
                    display: block;
                }
                &__caption {
                    span {
                        font-size: 1rem;
                    }
                }
            }
        }
        @media (max-width: 576px) {
            &__lower {
                &__weather {
                    display: none;
                }
            }
        }
    }
}
</style>