<template>
    <v-app>
        <router-view/>
        <notifications :max="4" animation-type="velocity" group="alerts" position="bottom right" width="280">
            <template slot="body" slot-scope="props">
                <template v-if="props.item.type === 'success'">
                    <v-alert
                        :value="true"
                        @click="props.close"
                        class="mr-1"
                        icon="mdi-check-circle-outline"
                        outline
                        style="cursor: pointer; background-color: #ffffff;"
                        type="success"
                    >{{ props.item.text }}</v-alert>
                </template>
                <template v-else-if="props.item.type === 'info'">
                    <v-alert
                        :value="true"
                        @click="props.close"
                        class="mr-1"
                        icon="mdi-information-outline"
                        outline
                        style="cursor: pointer; background-color: #ffffff;"
                        type="info"
                    >{{ props.item.text }}</v-alert>
                </template>
                <template v-else-if="props.item.type === 'warning'">
                    <v-alert
                        :value="true"
                        @click="props.close"
                        class="mr-1"
                        icon="mdi-alert-circle-outline"
                        outline
                        style="cursor: pointer; background-color: #ffffff;"
                        type="warning"
                    >{{ props.item.text }}</v-alert>
                </template>
                <template v-else-if="props.item.type === 'error'">
                    <v-alert
                        :value="true"
                        @click="props.close"
                        class="mr-1"
                        icon="mdi-alert-outline"
                        outline
                        style="cursor: pointer; background-color: #ffffff;"
                        type="error"
                    >{{ props.item.text }}</v-alert>
                </template>
            </template>
        </notifications>
        <!-- <pre>{{ user }}</pre> -->
    </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed: {
        ...mapGetters(['user'])
    }
}
</script>
