<template>
    <div class="home">
        <h1 class="home__title">{{ register ? 'Registro' : 'Iniciar sesión' }}</h1>
        <v-form @submit.prevent="register ? createUser() : signIn()" class="home__form">
            <v-text-field
                :error-messages="errors.collect('name')"
                color="#f40008"
                data-vv-name="name"
                label="Nombre completo"
                v-if="register"
                v-model="formData.name"
                v-validate="'required|min:3'"
            />
            <v-text-field
                :error-messages="errors.collect('email')"
                color="#f40008"
                data-vv-name="email"
                label="Correo electrónico"
                v-model="formData.email"
                v-validate="'required|email'"
            />
            <v-text-field
                :error-messages="errors.collect('password')"
                color="#f40008"
                data-vv-name="password"
                label="Contraseña"
                ref="password"
                v-model="formData.password"
                v-validate="'required|min:6'"
            />
            <v-text-field
                :error-messages="errors.collect('confirmation')"
                color="#f40008"
                data-vv-name="confirmation"
                label="Confirmar contraseña"
                v-if="register"
                v-model="formData.confirmation"
                v-validate="'required|confirmed:password'"
            />
            <div class="home__form__actions">
                <v-spacer/>
                <v-btn @click="formClear" class="ma-0 mr-2" color="info" outline>Reset</v-btn>
                <v-btn class="ma-0" color="success" outline type="submit">Ingresar</v-btn>
                <v-spacer/>
            </div>
        </v-form>
        <v-btn @click="register = !register" class="d-block mt-3 mb-0 ml-auto mr-auto" color="info" outline>{{ register ? 'Iniciar sesión' : 'Registro' }}</v-btn>
        <!-- <pre>{{ $data }}</pre> -->
    </div>
</template>

<script>
import { auth } from '@/config/firebase'
import { usersRef } from '@/config/firebaseReferences'
import { Authentication, dictionary } from '@/models/Authentication'

export default {
    data: () => ({
        register: false,
        formData: new Authentication(),
        dictionary: dictionary
    }),
    methods: {
        async signIn() {
            const validate = await this.$validator.validateAll()
            if (validate) {
                try {
                    const authResp = await auth.signInWithEmailAndPassword(this.formData.email, this.formData.password)
                    const currentUser = authResp.user
                    await usersRef.doc(currentUser.uid).update({ updated_at: new Date() })
                    const usersResp = await usersRef.doc(currentUser.uid).get()
                    this.$store.dispatch('initApp', { id: currentUser.uid, ...usersResp.data() })
                    this.$router.push('/admin')
                    this.$notify({
                        group: 'alerts',
                        type: 'success',
                        text: 'Bienvenido a CNA.'
                    })
                } catch (error) {
                    switch (error.code) {
                        case 'auth/user-not-found':
                            this.$notify({
                                group: 'alerts',
                                type: 'info',
                                text: 'No tenemos registro de este usuario en nuestra base de datos.'
                            })
                            break
                        case 'auth/wrong-password':
                            this.$notify({
                                group: 'alerts',
                                type: 'error',
                                text: 'La contraseña no es válida intentelo nuevamente.'
                            })
                            break
                        case 'auth/too-many-requests':
                            this.$notify({
                                group: 'alerts',
                                type: 'warning',
                                text: 'Demasiados intentos fallidos, inténtelo de nuevo más tarde.'
                            })
                            break
                    }
                }
            }
        },
        async createUser() {
            const validate = await this.$validator.validateAll()
            if (validate) {
                try {
                    const authResp = await auth.createUserWithEmailAndPassword(this.formData.email, this.formData.confirmation)
                    const currentUser = authResp.user
                    this.formData.created_at = new Date()
                    delete this.formData['confirmation']
                    delete this.formData['password']
                    await usersRef.doc(currentUser.uid).set({ ...this.formData })
                    const usersResp = await usersRef.doc(currentUser.uid).get()
                    this.$store.dispatch('initApp', { id: currentUser.uid, ...usersResp.data() })
                    this.$router.push('/admin')
                    this.$notify({
                        group: 'alerts',
                        type: 'success',
                        text: 'Bienvenido a CNA.'
                    })
                } catch (error) {
                    console.log(error)
                }
            }
        },
        formClear() {
            this.$validator.reset()
            this.formData = new Authentication()
            this.$notify({
                group: 'alerts',
                type: 'info',
                text: 'El formulario fue reiniciado con éxito.'
            })
        }
    },
    mounted() {
        this.$validator.localize('es', this.dictionary)
    }
}
</script>

<style lang="scss">
@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

@include auth {
    .home {
        width: calc(100% - 2rem);
        max-width: 400px;

        &__title {
            margin-bottom: 1rem;
            text-align: center;
            font-weight: 500;
            color: #f40008;
        }

        &__form {
            padding: 2rem;
            box-shadow: -1px 1px 0 0 #bdbdbd, inset -1px 1px 0 0 #bdbdbd;

            &__actions {
                padding-top: 0.5rem;
                display: flex;
            }
        }
    }
}
</style>
