<template>
    <v-container fluid grid-list-lg>
        <v-layout row wrap>
            <v-spacer v-show="form"/>
            <v-flex md6 v-show="form">
                <v-form @submit.prevent="formSubmit" ref="form">
                    <v-card>
                        <v-toolbar card color="primary" dark>
                            <v-toolbar-title>Nuevo Artículo</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-switch :value="true" color="success" hide-details label="Publicado" v-model="formData.published"></v-switch>
                            <v-text-field :error-messages="errors.collect('title')" box data-vv-name="title" label="Título" v-model="formData.title" v-validate="'required|min:3'"></v-text-field>
                            <v-textarea
                                :counter="157"
                                :error-messages="errors.collect('description')"
                                auto-grow
                                box
                                data-vv-name="description"
                                label="Descripción"
                                v-model="formData.description"
                                v-validate="'required|max:157'"
                            ></v-textarea>
                            <v-img :src="formData.img_path" height="200" v-if="formData.img_path"/>
                            <v-btn @click="pickImage('image')" label="Imagen principal" prepend-icon="attach_file">Imagen principal</v-btn>
                            <input @change="onPrimaryImagePicked" accept="image/*" ref="image" style="display: none" type="file">
                            <!--#### content ######-->
                            <div :key="key" v-for="(item, key) in this.formData.content">
                                <div v-if="item && item.type === 'paragraph'">
                                    <v-textarea :label="'Parrafo' + item.position" :name="item.type + item.position" auto-grow box ref="contentElements" v-model="item.value"></v-textarea>
                                </div>
                                <v-responsive v-if="item && item.type === 'image'">
                                    <v-img :src="item.img_path" v-if="item.img_path"></v-img>
                                    <v-layout justify-center>
                                        <input @change="onContentImagePicked" accept="image/*" ref="contentElements" style="display: none" type="file">
                                        <v-btn @click="handleClickUploadContentImage(key)" flat>Cargar Imagen</v-btn>
                                    </v-layout>
                                </v-responsive>
                                <v-card-actions v-if="item">
                                    <v-spacer></v-spacer>
                                    <v-btn @click="deleteContentItem(key)" icon>
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </div>
                        </v-card-text>
                        <v-divider/>
                        <v-card-actions>
                             <v-progress-linear :value="imageProgress" color="success" height="7" v-if="imageProgress && imageProgress < 100"></v-progress-linear>
                            <v-spacer></v-spacer>
                            <v-btn @click="formClear(true)" color="secondary" depressed flat>Cancelar</v-btn>
                            <v-btn color="primary" depressed flat type="submit">Guardar</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-form>
                <!-- ########## Action button add content ##############-->
                <v-speed-dial bottom direction="top" fixed open-on-hover right transition="'slide-y-reverse-transition'" v-model="fab">
                    <template v-slot:activator>
                        <v-btn color="blue darken-2" dark fab v-model="fab">
                            <v-icon>add_box</v-icon>
                            <v-icon>close</v-icon>
                        </v-btn>
                    </template>
                    <v-btn @click="addContentItem('image')" color="green" dark fab small>
                        <v-icon>add_photo_alternate</v-icon>
                    </v-btn>
                    <v-btn @click="addContentItem('paragraph')" color="indigo" dark fab small>
                        <v-icon>text_fields</v-icon>
                    </v-btn>
                </v-speed-dial>
            </v-flex>
            <v-spacer v-show="form"/>
            <v-flex :key="inxOne" md3 sm6 v-for="(outOne, inxOne) in articles" v-show="!form" xs12>
                <v-card>
                    <v-container fluid>
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-responsive>
                                    <v-img :src="outOne.img_path || '/img/no-image.svg'"></v-img>
                                </v-responsive>
                                <!--  <h3 class="text-xs-center mb-3">Vistas</h3>
                                <v-progress-circular :rotate="360" :size="80" :value="outOne.views" :width="10" class="d-block mx-auto" color="teal">{{ outOne.views }}</v-progress-circular>-->
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <v-divider/>
                    <v-card-actions>
                        <h3 class="text-truncate mr-2">{{ outOne.title }}</h3>
                        <v-spacer/>
                        <v-btn @click="formEdit(outOne.id)" icon>
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn @click="formRemove(outOne.id)" icon>
                            <v-icon color="red darken-4">mdi-delete</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <v-btn @click="formCreate" bottom color="blue darken-1" dark fab fixed right v-show="!form">
            <v-icon>add</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { Article, dictionary } from '@/models/Article'
import { firestore, firebase, storage } from '@/config/firebase'
import auth from '../../../store/modules/auth'
import { async } from '@firebase/util';

export default {
    data: () => ({
        id: null,
        form: false,
        formData: new Article(),
        method: 'POST',
        dictionary: dictionary,
        articles: [],
        data: [],
        lastArticleVisible: null,
        imageFile: undefined,
        imageProgress: 0,
        contentImageProgress: 0,
        currentContentElement: 0,
        storageRef: storage
            .ref()
            .child('images')
            .child('articles'),
        docRef: undefined,
        categoryRef: undefined,
        fab: false,
        isNew: false
    }),
    computed: {
        ...mapGetters(['storageArticle', 'storageArticles', 'storageLastArticleVisible'])
    },
    watch: {
        $route(to, from) {
            this.observeRoute(to)
        }
    },
    methods: {
        ...mapMutations('storage', ['storageLastArticleVisibleHandler', 'storageArticlesHandler']),
        observeRoute(route) {
            const { id, categoryId} = route.params
            if (id && !this.form) {
                this.id = id
                this.formEdit(id, true)
            } else if (categoryId && !id) {
                this.id = undefined
                this.form = false
                this.categoryRef = firestore.collection('categories').doc(categoryId)
                if(this.isNew){
                    this.isNew = false
                }
                else this.getData(true)
            }
        },
        /*
         * @param preseve: boolean
         * true si la consulta se debe agregar al storageState existente
         * false si se debe sobre escribir el state actual con la consulta
         */
        getData(preserve) {
            const cRef = this.categoryRef
            const ref = cRef.collection('articles').orderBy('title')
            if (this.storageLastArticleVisible.hasOwnProperty(cRef.id) && this.storageLastArticleVisible[cRef.id] === undefined) {
                this.articles = this.storageArticles[this.categoryRef.id]
                return
            }

            this.$store
                .dispatch('GET', {
                    ref: this.storageLastArticleVisible.hasOwnProperty(cRef.id) ? ref.startAfter(this.storageLastArticleVisible[cRef.id]).limit(25) : ref.limit(5),
                    storage: 'storageArticles',
                    storageHandler: 'storageArticlesHandler',
                    preserve: preserve,
                    isMultiple: true,
                    id: cRef.id
                })
                .then(last => {
                    this.articles = this.storageArticles[this.categoryRef.id]
                    this.$store.commit('storageLastArticleVisibleHandler', { data: last, parentId: cRef.id })
                })
        },
        formCreate() {
            this.form = true
            this.docRef = this.categoryRef.collection('articles').doc()
            this.isNew = true
        },
        formEdit(id, withOutPush) {
            this.form = true
            this.isNew = false
            this.docRef = this.categoryRef.collection('articles').doc(id)
            this.$store.dispatch('GET', {
                ref: this.docRef,
                storage: 'storageArticle',
                storageHandler: 'storageArticleHandler'
            })

            const data = this.articles.filter(elem => elem.id.includes(id))
            this.formData = new Article(data[0])
            withOutPush || this.$router.push(`/admin/articulos/${this.categoryRef.id}/${id}`)
        },
        formRemove(id) {
            //TODO
            let sure = confirm('¿Seguro de borrar el artículo?')
            if (sure)
                try {
                    this.delete(id)
                } catch (error) {
                    console.log(error.message)
                }
        },
        delete(id) {
            this.docRef = this.categoryRef.collection('articles').doc(id)
            this.$store
                .dispatch('GET', {
                    ref: this.docRef,
                    storage: 'storageArticle',
                    storageHandler: 'storageArticleHandler'
                })
                .then(() => {
                    // eliminar imagen principal
                    this.storageRef.child(id + 'portada').delete()
                    this.storageArticle.content &&
                        this.storageArticle.content.forEach((c, i) => {
                            if (c.type === 'image')
                                // eliminar imagenes del contenido
                                this.storageRef.child(this.docRef.id + i).delete()
                        })
                    // eliminar el articulo de la categoria
                    this.categoryRef
                        .collection('articles')
                        .doc(id)
                        .delete()
                        .then(() => {
                            this.$store.commit('storageArticlesDelete', {
                                parentId: this.categoryRef.id,
                                id: id
                            })
                            alert('eliminado correctamente')
                        })
                    this.categoryRef.update('articles', firebase.firestore.FieldValue.increment(-1))
                })
        },
        formClear(withPush) {
            this.form = false
            this.formData = new Article()
            this.imageFile = undefined
            this.$validator.reset()
            if(withPush)this.$router.push(`/admin/articulos/` + this.categoryRef.id)
        },
        async formSubmit() {
            const boolean = this.$validator.validateAll()

            if (boolean) {
                if (this.method === 'POST') {
                    if (this.formData.img_path !== undefined || this.formData.img_path !== null) {
                        if (this.formData.img_path.startsWith('data:image')) {
                           this.formData.img_path = 
                                await this.uploadImageToStorage(this.formData.img_path, 'portada').then(url => url)
                        }
                    }
                    this.formData.content.forEach(async (i, inx) => {
                        if (i.img_path && i.img_path.startsWith('data:image')) {
                           i.img_path = await this.uploadImageToStorage(i.img_path, inx).then(url =>{
                               this.imageProgress = 100
                               return url})
                        }
                    })
                    if (this.isNew) {
                                this.$store.commit('storageArticlesHandler', {
                                    isToAdd: true,
                                    parentId: this.categoryRef.id,
                                    data: { ...this.formData, id: this.docRef.id }
                                })
                                this.initCounter()
                            } 
                    else {                               
                                this.$store.commit('storageArticlesEdit', {
                                    parentId: this.categoryRef.id,
                                    id: this.docRef.id,
                                    data: { ...this.formData, id: this.docRef.id }
                                })
                            }
                    this.$store
                        .dispatch('SAVE', {
                            ref: this.docRef,
                            storage: 'storageArticle',
                            storageHandler: 'storageArticleHandler',
                            route: '/admin/articulos/' + this.categoryRef.id,
                            data: { ...this.formData },
                        })
                        .then(() => {
                            this.formClear()
                        })
                }
            }
        },
        scroll() {
            window.onscroll = () => {
                let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    this.getData(true)
                }
            }
        },
        /*
         * inicia el contador de visitas
         * utiliza batch según la documentación de firestore para counters
         * */
        initCounter() {
            const batch = firestore.batch()
            batch.set(
                this.docRef,
                {
                    views: 0
                },
                { merge: true }
            )
            batch.commit()
            // aumenta 1 en la cuenta de la categoría
            this.categoryRef.update('articles', firebase.firestore.FieldValue.increment(1))
        },
        // methods for content
        addContentItem(contentType) {
            if (contentType === 'paragraph')
                this.formData.content.push({
                    type: 'paragraph',
                    value: '',
                    position: this.formData.content.length
                })
            else if (contentType === 'image')
                // TODO
                this.formData.content.push({
                    type: 'image',
                    img_path: '',
                    position: this.formData.content.length
                })
        },
        deleteContentItem(itemPosition) {
            let item = this.formData.content[itemPosition]
            if (item && item.type === 'image') {
                item.value = ''
                this.storageRef
                    .child(this.docRef.id + itemPosition)
                    .delete()
                    .finally(() => {
                        this.formData.content.splice(itemPosition, 1)
                    })
            } else this.formData.content.splice(itemPosition, 1)
        },
        //methods for image picker
        pickImage(ref) {
            this.$refs[ref].click()
        },
        handleClickUploadContentImage(key) {
            this.currentContentElement = key
            this.$refs.contentElements[key].click()
        },
        onContentImagePicked(e) {
            const files = e.target.files
            if (files[0] !== undefined) {
                const fr = new FileReader()
                let element = this.formData.content[this.currentContentElement]
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    element.img_path = fr.result
                })
            } else {
                let art = this.article
                this.imageFile = undefined
                art.img_path = ''
            }
        },
        onPrimaryImagePicked(e) {
            const files = e.target.files
            const self = this
            let art = this.formData
            //self.imageProgress = 0
            if (files[0] !== undefined) {
                const fr = new FileReader()
                fr.readAsDataURL(files[0])
                fr.addEventListener('load', () => {
                    self.imageFile = fr.result
                    art.img_path = fr.result
                })
            } else {
                self.imageFile = undefined
                art.img_path = ''
            }
        },
        uploadImageToStorage(img_path, imagePosition) {
            return new Promise((resolve, reject) => {
                console.log('uploading', imagePosition)
                const uploadTask = this.storageRef.child(this.docRef.id + imagePosition).putString(img_path, 'data_url')
                uploadTask.on(
                    firebase.storage.TaskEvent.STATE_CHANGED,
                    snapshot => {
                        this.imageProgress = Math.max(5, (snapshot.bytesTransferred / snapshot.totalBytes) * 100 - 3)
                        console.log('Upload is ' + this.imageProgress + '% done')
                    },
                    error => {
                        reject(error)
                    },
                   () => {
                        // Upload completed successfully, now we can get the download URL
                        uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
                            console.log('File available at', downloadURL)
                            this.ImageProgress = 0
                            resolve(downloadURL)
                        })
                    }
                )
            })
        }
    },
    created() {
        this.categoryRef = firestore.collection('categories').doc(this.$route.params.categoryId)
        this.scroll()
        this.getData()
        this.$validator.localize('es', this.dictionary)
    },
    destroyed() {
        window.onscroll = undefined
    }
}
auth
</script>
