<template>
  <v-container>
    <v-card :key="key" v-for="(item, key) in articleContent" flat>
      <v-card-text v-if="item && item.type === 'paragraph'">
        <v-textarea
                :label="'Parrafo' + item.position"
                :name="item.type + item.position"
                auto-grow
                box
                ref="contentElements"
                v-model="item.value"
        ></v-textarea>
      </v-card-text>
      <v-responsive v-if="item && item.type === 'image'">
        <v-img :alt="item.alt" :src="item.value" v-if="item.value"></v-img>
        <v-layout justify-center>
          <input
                  @change="onContentImagePicked"
                  accept="image/*"
                  ref="contentElements"
                  style="display: none"
                  type="file"
          >
          <v-progress-linear
                  :value="contentImageProgress"
                  color="success"
                  height="7"
                  v-if="contentImageProgress && contentImageProgress < 100"
          ></v-progress-linear>
          <v-btn @click="handleClickUploadContentImage(key)" flat>Cargar Imagen</v-btn>
        </v-layout>
      </v-responsive>
      <v-card-actions v-if="item">
        <v-spacer></v-spacer>
        <v-btn @click="deleteContentItem(key)" icon>
          <v-icon>delete</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <!-- ########## Action button add content ##############-->
    <v-speed-dial bottom direction="top" fixed open-on-hover right transition="'slide-y-reverse-transition'" v-model="fab">
      <template v-slot:activator>
        <v-btn color="blue darken-2" dark fab v-model="fab">
          <v-icon>add_box</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
      </template>
      <v-btn @click="addContentItem('image')" color="green" dark fab small>
        <v-icon>add_photo_alternate</v-icon>
      </v-btn>
      <v-btn @click="addContentItem('paragraph')" color="indigo" dark fab small>
        <v-icon>text_fields</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-container>

</template>
<script>
    import {storage} from "../../../config/firebase";

    export default {
        data(){
            return{
                articleContent:[],
                contentImageProgress: 0,
                currentContentElement: 0,
                fab: false,
                storageRef: storage.ref().child('images').child('articles')
            }
        },
        props:{
            docRef:{
                type: Object,
                required: true,
            }

        },
        methods:{
            getContent(){
                this.$props.docRef.collection('content').get().then((snapshot)=>{
                    snapshot.forEach(doc=>{
                        this.articleContent.push({id:doc.id,...doc.data()})
                    })
                })
            },
            addContentItem(contentType) {
                if (contentType === 'paragraph')
                    this.articleContent.push({
                        type: 'paragraph',
                        value: '',
                        position: this.articleContent.length
                    })
                else if (contentType === 'image')
                // TODO
                    this.articleContent.push({
                        type: 'image',
                        value: '',
                        alt: '',
                        position: this.articleContent.length
                    })
            },
            deleteContentItem(itemPosition) {
                let item = this.articleContent[itemPosition]
                if (item && item.type === 'image') {
                    item.value = ''
                    this.storageRef
                        .child(this.$props.docRef.id + itemPosition)
                        .delete()
                        .finally(() => {
                            this.articleContent = this.articleContent.splice(itemPosition, 1)
                        })
                } else this.articleContent = this.articleContent.splice(itemPosition, 1)
            },

            handleClickUploadContentImage(key) {
                this.currentContentElement = key
                this.$refs.contentElements[key].click()
            },
            onContentImagePicked(e) {
                const files = e.target.files
                const metadata = {
                    contentType: 'image/jpeg'
                }
                this.contentImageProgress = 5
                if (files[0] !== undefined) {
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        //art.imgPath = fr.result;
                        let imageFile = files[0]
                        const uploadTask = this.storageRef.child(this.docRef.id + this.currentContentElement).put(imageFile, metadata)
                        uploadTask.on(
                            firebase.storage.TaskEvent.STATE_CHANGED,
                            (snapshot) => {
                                this.contentImageProgress = Math.max(5, (snapshot.bytesTransferred / snapshot.totalBytes) * 100 - 3)
                                console.log('Upload is ' + this.contentImageProgress + '% done')
                            },
                            (error) => {
                                switch (error.code) {
                                    case 'storage/unauthorized':
                                        // User doesn't have permission to access the object
                                        break

                                    case 'storage/canceled':
                                        // User canceled the upload
                                        break
                                    case 'storage/unknown':
                                        // Unknown error occurred, inspect error.serverResponse
                                        break
                                }
                            },
                            () => {
                                // Upload completed successfully, now we can get the download URL
                                uploadTask.snapshot.ref.getDownloadURL().then((downloadURL) => {
                                    let element = this.articleContent[this.currentContentElement]
                                    console.log('File available at', downloadURL)
                                    element.value = downloadURL
                                    // TODO: resize image for thumbnail
                                    element.thumbnail = downloadURL
                                    this.contentImageProgress = 0
                                })
                            }
                        )
                    })
                } else {
                    let art = this.article
                    this.imageFile = undefined
                    art.imgPath = ''
                }
            },
        }
    }
</script>