<template>
    <v-container fluid grid-list-lg>
        <articles :category-id="categoryRef" ></articles>

    </v-container>
</template>

<script>
import Articles from './Articles'
import { firestore } from '@/config/firebase'

    export default {
        data(){
            return{
               categoryRef: firestore.collection('categories').doc(this.$route.params.categoryId)
            }
        },
        components:{
            Articles,
        }
    },
    components: {
        Articles
    }
}
</script>